Repository FrostyForest/IsaacLab, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kellyguo11, @hhansen-bdai, @Mayankm96, @Dhoeller19, @jsmith-bdai, @nikitardn, @jtigue-bdai, @masoudmoghani, @pascal-roth

.github/CODEOWNERS:

# Codeowners are designated by their GitHub username. They are
# the people who are responsible for reviewing and approving PRs
# that modify the files that match the pattern.
#
# Codeowners are not the same as contributors. They are not
# automatically added to the PR, but they will be requested to
# review the PR when it is created.
#
# As a general rule, the codeowners are the people who are
# most familiar with the code that the PR is modifying. If you
# are not sure who to add, ask in the issue or in the PR itself.
#
# The format of the file is as follows:
# <file pattern> <codeowners>


# App experience files
# These are the files that are used to launch the app with the correct settings and configurations
/source/apps/ @kellyguo11 @hhansen-bdai @Mayankm96 @Dhoeller19

# Core Framework
/source/extensions/omni.isaac.lab/ @Dhoeller19 @Mayankm96 @jsmith-bdai @kellyguo11
/source/extensions/omni.isaac.lab/omni/isaac/lab/actuators @Dhoeller19 @Mayankm96 @nikitardn @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/app @hhansen-bdai @kellyguo11
/source/extensions/omni.isaac.lab/omni/isaac/lab/assets @jsmith-bdai @Dhoeller19 @kellyguo11 @Mayankm96 @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/assets/deformable_object @kellyguo11 @Mayankm96 @masoudmoghani
/source/extensions/omni.isaac.lab/omni/isaac/lab/controllers @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/envs @jsmith-bdai @Dhoeller19 @kellyguo11 @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_* @jsmith-bdai @Dhoeller19 @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_* @kellyguo11
/source/extensions/omni.isaac.lab/omni/isaac/lab/managers @jsmith-bdai @Dhoeller19 @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/sensors @jsmith-bdai @Dhoeller19 @pascal-roth @Mayankm96 @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera @kellyguo11 @pascal-roth
/source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/contact_sensor @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/frame_transformer @jsmith-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/ray_caster @pascal-roth @Dhoeller19
/source/extensions/omni.isaac.lab/omni/isaac/lab/sim @Mayankm96 @jsmith-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/sim/simulation_context.py @Dhoeller19 @kellyguo11
/source/extensions/omni.isaac.lab/omni/isaac/lab/terrains @Dhoeller19 @Mayankm96 @nikitardn
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils @Mayankm96 @jsmith-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/modifiers @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/interpolation @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/noise @jtigue-bdai @kellyguo11
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/warp @Dhoeller19 @pascal-roth
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/assets.py @Dhoeller19 @kellyguo11 @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/math.py @jsmith-bdai @Dhoeller19 @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/configclass.py @Mayankm96 @Dhoeller19

# RL Environment
/source/extensions/omni.isaac.lab_tasks/ @Dhoeller19 @Mayankm96 @jsmith-bdai @kellyguo11
/source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct @Dhoeller19 @kellyguo11
/source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based @Dhoeller19 @Mayankm96 @jsmith-bdai @jtigue-bdai

# Assets
/source/extensions/omni.isaac.lab_assets/omni/isaac/lab_assets/ @Dhoeller19 @pascal-roth @jsmith-bdai

# Standalone Scripts
/source/standalone/demos/ @jsmith-bdai @jtigue-bdai @Dhoeller19 @kellyguo11 @Mayankm96
/source/standalone/environments/ @Mayankm96
/source/standalone/tools/ @jsmith-bdai @Mayankm96
/source/standalone/tutorials/ @jsmith-bdai @pascal-roth @kellyguo11 @Dhoeller19 @Mayankm96
/source/standalone/workflows/ @jsmith-bdai @Dhoeller19 @kellyguo11 @Mayankm96

# Github Actions
# This list is for people wanting to be notified every time there's a change
# related to Github Actions
/.github/ @kellyguo11 @jsmith-bdai

# Visual Studio Code
/.vscode/ @hhansen-bdai @Mayankm96

# Infrastructure (Docker, Docs, Tools)
/docker/ @hhansen-bdai @pascal-roth
/docs/ @jsmith-bdai @Dhoeller19 @kellyguo11 @Mayankm96
/tools/ @hhansen-bdai @jsmith-bdai @Dhoeller19
/isaaclab.* @hhansen-bdai @Dhoeller19 @Mayankm96 @kellyguo11

Adds body tracking option to ViewerCfg (#1620)
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/rigid_object/rigid_object_data.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/common.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/ui/viewport_camera_controller.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11, @jtigue-bdai

Updates versioning files (#1637)
  VERSION
  source/apps/isaaclab.python.headless.kit
  source/apps/isaaclab.python.headless.rendering.kit
  source/apps/isaaclab.python.kit
  source/apps/isaaclab.python.rendering.kit
Owners: @kellyguo11, @hhansen-bdai, @Mayankm96, @Dhoeller19

Fixes the `joint_parameter_lookup` type in `RemotizedPDActuatorCfg` to support list format (#1626)
  source/extensions/omni.isaac.lab/omni/isaac/lab/actuators/actuator_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/actuators/actuator_pd.py
  source/extensions/omni.isaac.lab_assets/omni/isaac/lab_assets/spot.py
Owners: @Dhoeller19, @Mayankm96, @nikitardn, @jtigue-bdai, @pascal-roth, @jsmith-bdai

Updates pip installation documentation to clarify options (#1621)
  docs/source/setup/installation/binaries_installation.rst
  docs/source/setup/installation/pip_installation.rst
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Fixes action reset of pre_trained_policy_action (#1623)
  CONTRIBUTORS.md
  source/extensions/omni.isaac.lab_tasks/config/extension.toml
  source/extensions/omni.isaac.lab_tasks/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/navigation/mdp/pre_trained_policy_action.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11, @jtigue-bdai

Adds dict conversion test for ActuatorBase configs (#1608)
  .pre-commit-config.yaml
  CONTRIBUTORS.md
  source/extensions/omni.isaac.lab/test/utils/test_configclass.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Fixes docstrings in Articulation Data that report wrong return dimension (#1652)
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/articulation/articulation_data.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11, @jtigue-bdai

Fixes documentation error for PD Actuator (#1668)
  docs/source/overview/core-concepts/actuators.rst
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Fixes issue where the indices were not created correctly. (#1660)
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/articulation/articulation.py
  source/extensions/omni.isaac.lab/test/assets/test_articulation.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @jtigue-bdai

Fixes errors in tools and tutorial scripts (#1669)
  source/standalone/tools/check_instanceable.py
  source/standalone/tutorials/04_sensors/run_usd_camera.py
Owners: @jsmith-bdai, @Mayankm96, @pascal-roth, @kellyguo11, @Dhoeller19

Fix typo in Anymal C DirectRL environment (#1683)
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/anymal_c/anymal_c_env.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/anymal_c/anymal_c_env_cfg.py
Owners: @Dhoeller19, @kellyguo11

Fixes rigid object's root com velocities timestamp check (#1674)
  CONTRIBUTORS.md
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/articulation/articulation_data.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/rigid_object/rigid_object_data.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @jtigue-bdai

Updates code snippets in documentation to reference scripts (#1693)
  docs/source/overview/sensors/contact_sensor.rst
  docs/source/overview/sensors/frame_transformer.rst
  docs/source/overview/sensors/ray_caster.rst
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Adds documentation and demo script for IMU sensor (#1694)
  docs/source/_static/overview/overview_sensors_contact_diagram.jpg
  docs/source/_static/overview/overview_sensors_contact_diagram.png
  docs/source/_static/overview/overview_sensors_depth.jpg
  docs/source/_static/overview/overview_sensors_depth.png
  docs/source/_static/overview/overview_sensors_frame_transformer.jpg
  docs/source/_static/overview/overview_sensors_frame_transformer.png
  docs/source/_static/overview/overview_sensors_ft_visualizer.jpg
  docs/source/_static/overview/overview_sensors_ft_visualizer.png
  docs/source/_static/overview/overview_sensors_imu_diagram.jpg
  docs/source/_static/overview/overview_sensors_imu_visualizer.jpg
  docs/source/_static/overview/overview_sensors_instance.jpg
  docs/source/_static/overview/overview_sensors_instance.png
  docs/source/_static/overview/overview_sensors_instanceID.jpg
  docs/source/_static/overview/overview_sensors_instanceID.png
  docs/source/_static/overview/overview_sensors_normals.jpg
  docs/source/_static/overview/overview_sensors_normals.png
  docs/source/_static/overview/overview_sensors_rc_patterns.jpg
  docs/source/_static/overview/overview_sensors_rc_patterns.png
  docs/source/_static/overview/overview_sensors_rc_visualizer.jpg
  docs/source/_static/overview/overview_sensors_rc_visualizer.png
  docs/source/_static/overview/overview_sensors_rgb.jpg
  docs/source/_static/overview/overview_sensors_rgb.png
  docs/source/_static/overview/overview_sensors_semantic.jpg
  docs/source/_static/overview/overview_sensors_semantic.png
  docs/source/overview/sensors/camera.rst
  docs/source/overview/sensors/contact_sensor.rst
  docs/source/overview/sensors/frame_transformer.rst
  docs/source/overview/sensors/imu.rst
  docs/source/overview/sensors/index.rst
  docs/source/overview/sensors/ray_caster.rst
  source/standalone/demos/sensors/imu_sensor.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @jtigue-bdai

Fixes infinite loop in repeated_objects_terrain: respawn only wrong object samples (#1612)
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/terrains/trimesh/mesh_terrains.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11, @nikitardn

Corrects calculation of target height adjustment based on sensor data (#1710)
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/rewards.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Clarifies Ray Documentation and Fixes Minor Issues (#1717)
  docs/source/features/ray.rst
  source/standalone/workflows/ray/cluster_configs/Dockerfile
  source/standalone/workflows/ray/cluster_configs/google_cloud/kuberay.yaml.jinja
  source/standalone/workflows/ray/grok_cluster_with_kubectl.py
  source/standalone/workflows/ray/launch.py
  source/standalone/workflows/ray/submit_job.py
  source/standalone/workflows/ray/tuner.py
  source/standalone/workflows/ray/util.py
  source/standalone/workflows/ray/wrap_resources.py
  source/standalone/workflows/rsl_rl/train.py
  source/standalone/workflows/sb3/train.py
  source/standalone/workflows/skrl/train.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Adds interval resampling on event manager's reset call (#1750)
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/event_manager.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Bumps version to 1.4.1
  VERSION
  source/apps/isaaclab.python.headless.kit
  source/apps/isaaclab.python.headless.rendering.kit
  source/apps/isaaclab.python.kit
  source/apps/isaaclab.python.rendering.kit
Owners: @kellyguo11, @hhansen-bdai, @Mayankm96, @Dhoeller19

Adds Franka stacking environment for GR00T mimic (#123)
  source/extensions/omni.isaac.lab_tasks/config/extension.toml
  source/extensions/omni.isaac.lab_tasks/docs/CHANGELOG.rst
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Adds deprecated extensions to app files (#139)
  source/apps/isaaclab.python.headless.kit
  source/apps/isaaclab.python.headless.rendering.kit
  source/apps/isaaclab.python.kit
  source/apps/isaaclab.python.rendering.kit
  source/extensions/omni.isaac.lab/omni/isaac/lab/app/app_launcher.py
Owners: @kellyguo11, @hhansen-bdai, @Mayankm96, @Dhoeller19

Adds omni.isaac.version to experience dependencies (#141)
  source/apps/isaaclab.python.headless.kit
  source/apps/isaaclab.python.kit
Owners: @kellyguo11, @hhansen-bdai, @Mayankm96, @Dhoeller19

Update Franka Stacking Env (#146)
  source/extensions/omni.isaac.lab_tasks/config/extension.toml
  source/extensions/omni.isaac.lab_tasks/docs/CHANGELOG.rst
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Updates benchmarking scripts for Isaac Sim 4.5 and hydra (#143)
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/utils/hydra.py
  source/standalone/benchmarks/benchmark_non_rl.py
  source/standalone/benchmarks/benchmark_rlgames.py
  source/standalone/benchmarks/benchmark_rsl_rl.py
  source/standalone/benchmarks/utils.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Fixes import issues with omni.isaac.ui and debug_draw (#148)
  source/apps/isaaclab.python.kit
  source/standalone/tutorials/04_sensors/run_frame_transformer.py
Owners: @kellyguo11, @hhansen-bdai, @Mayankm96, @Dhoeller19, @jsmith-bdai, @pascal-roth

Updates benchmark default output format for dashboard (#161)
  source/standalone/benchmarks/benchmark_non_rl.py
  source/standalone/benchmarks/benchmark_rlgames.py
  source/standalone/benchmarks/benchmark_rsl_rl.py
Owners: none

Adds XR hand tracking input device (#160)
  source/apps/isaaclab.python.xr.openxr.kit
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/devices/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/devices/openxr/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/devices/openxr/se3_handtracking.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/devices/openxr/teleop_command.py
  source/standalone/environments/teleoperation/teleop_se3_agent.py
Owners: @kellyguo11, @hhansen-bdai, @Mayankm96, @Dhoeller19, @jsmith-bdai

Updates training and play scripts for robomimic workflow (#150)
  source/extensions/omni.isaac.lab_tasks/docs/CHANGELOG.rst
  source/standalone/workflows/robomimic/play.py
  source/standalone/workflows/robomimic/train.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Adds create_new_stage and fixes merge error (#155)
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/app/app_launcher.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/utils/hydra.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11, @hhansen-bdai

Updates torch to 2.5.1 (#168)
  source/extensions/omni.isaac.lab/setup.py
  source/extensions/omni.isaac.lab_tasks/setup.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Fixes broken unit tests due to updates in Isaac Sim 4.5 (#166)
  docs/conf.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/converters/mjcf_converter.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/converters/urdf_converter.py
  source/extensions/omni.isaac.lab/test/assets/test_articulation.py
  source/extensions/omni.isaac.lab/test/assets/test_deformable_object.py
  source/extensions/omni.isaac.lab/test/assets/test_rigid_object.py
  source/extensions/omni.isaac.lab/test/assets/test_rigid_object_collection.py
  source/extensions/omni.isaac.lab/test/performance/test_robot_load_performance.py
  source/extensions/omni.isaac.lab/test/sensors/test_contact_sensor.py
  source/extensions/omni.isaac.lab/test/sensors/test_ray_caster_camera.py
  source/extensions/omni.isaac.lab/test/sensors/test_tiled_camera.py
  source/extensions/omni.isaac.lab/test/terrains/test_terrain_importer.py
  source/extensions/omni.isaac.lab_assets/test/test_valid_configs.py
  source/extensions/omni.isaac.lab_tasks/test/test_environments.py
  source/extensions/omni.isaac.lab_tasks/test/test_multi_agent_environments.py
  source/extensions/omni.isaac.lab_tasks/test/wrappers/test_rl_games_wrapper.py
  source/extensions/omni.isaac.lab_tasks/test/wrappers/test_skrl_wrapper.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Adds new denoiser optimization flags for rendering (#156)
  source/apps/isaaclab.python.headless.rendering.kit
  source/apps/isaaclab.python.rendering.kit
Owners: @kellyguo11, @hhansen-bdai, @Mayankm96, @Dhoeller19

Adds pre-trained checkpoints and tools for generating and uploading checkpoints (#151)
  .gitignore
  CONTRIBUTORS.md
  docs/source/overview/reinforcement-learning/rl_existing_scripts.rst
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/assets.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/pretrained_checkpoint.py
  source/standalone/tools/pretrained_checkpoint.py
  source/standalone/workflows/rl_games/play.py
  source/standalone/workflows/rsl_rl/play.py
  source/standalone/workflows/sb3/play.py
  source/standalone/workflows/skrl/play.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Supports Isaac Lab image based on different Isaac Sim images (#173)
  .aws/postmerge-ci-buildspec.yml
Owners: none

Adds flag to wait for texture loading completion when reset (#164)
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_rl_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_rl_env_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/test/test_environments.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Removes DLAA workaround for frame offset issue when rendering (#175)
  docs/source/overview/sensors/camera.rst
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera/camera.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera/tiled_camera.py
  source/extensions/omni.isaac.lab/test/sensors/test_tiled_camera.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @pascal-roth

Temp removal of cameras in Stack env (#176)
  source/apps/isaaclab.python.xr.openxr.kit
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/stack/config/franka/stack_joint_pos_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/stack/stack_env_cfg.py
Owners: @kellyguo11, @hhansen-bdai, @Mayankm96, @Dhoeller19, @jsmith-bdai, @jtigue-bdai

Improves hand tracking using XR teleop (#180)
  CONTRIBUTORS.md
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/devices/openxr/se3_handtracking.py
  source/standalone/tools/record_demos.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Fixes env wrapper tests timeout and disables importer tests (#181)
  source/extensions/omni.isaac.lab/test/assets/test_deformable_object.py
  source/extensions/omni.isaac.lab_tasks/test/test_environments.py
  source/extensions/omni.isaac.lab_tasks/test/wrappers/test_rl_games_wrapper.py
  source/extensions/omni.isaac.lab_tasks/test/wrappers/test_rsl_rl_wrapper.py
  source/extensions/omni.isaac.lab_tasks/test/wrappers/test_sb3_wrapper.py
  source/extensions/omni.isaac.lab_tasks/test/wrappers/test_skrl_wrapper.py
  tools/tests_to_skip.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11, @hhansen-bdai

Updates render setting defaults for better quality (#183)
  docs/source/overview/sensors/camera.rst
  source/apps/isaaclab.python.headless.rendering.kit
  source/apps/isaaclab.python.rendering.kit
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/simulation_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/simulation_context.py
  source/extensions/omni.isaac.lab/test/sim/test_simulation_render_config.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/cartpole/cartpole_camera_env.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/cartpole/cartpole_camera_env_cfg.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @hhansen-bdai, @jtigue-bdai
