Repository FrostyForest/IsaacLab, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kellyguo11, @hhansen-bdai, @Mayankm96, @Dhoeller19, @jsmith-bdai, @nikitardn, @jtigue-bdai, @masoudmoghani, @pascal-roth

.github/CODEOWNERS:

# Codeowners are designated by their GitHub username. They are
# the people who are responsible for reviewing and approving PRs
# that modify the files that match the pattern.
#
# Codeowners are not the same as contributors. They are not
# automatically added to the PR, but they will be requested to
# review the PR when it is created.
#
# As a general rule, the codeowners are the people who are
# most familiar with the code that the PR is modifying. If you
# are not sure who to add, ask in the issue or in the PR itself.
#
# The format of the file is as follows:
# <file pattern> <codeowners>


# App experience files
# These are the files that are used to launch the app with the correct settings and configurations
/source/apps/ @kellyguo11 @hhansen-bdai @Mayankm96 @Dhoeller19

# Core Framework
/source/extensions/omni.isaac.lab/ @Dhoeller19 @Mayankm96 @jsmith-bdai @kellyguo11
/source/extensions/omni.isaac.lab/omni/isaac/lab/actuators @Dhoeller19 @Mayankm96 @nikitardn @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/app @hhansen-bdai @kellyguo11
/source/extensions/omni.isaac.lab/omni/isaac/lab/assets @jsmith-bdai @Dhoeller19 @kellyguo11 @Mayankm96 @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/assets/deformable_object @kellyguo11 @Mayankm96 @masoudmoghani
/source/extensions/omni.isaac.lab/omni/isaac/lab/controllers @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/envs @jsmith-bdai @Dhoeller19 @kellyguo11 @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_* @jsmith-bdai @Dhoeller19 @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_* @kellyguo11
/source/extensions/omni.isaac.lab/omni/isaac/lab/managers @jsmith-bdai @Dhoeller19 @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/sensors @jsmith-bdai @Dhoeller19 @pascal-roth @Mayankm96 @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera @kellyguo11 @pascal-roth
/source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/contact_sensor @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/frame_transformer @jsmith-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/ray_caster @pascal-roth @Dhoeller19
/source/extensions/omni.isaac.lab/omni/isaac/lab/sim @Mayankm96 @jsmith-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/sim/simulation_context.py @Dhoeller19 @kellyguo11
/source/extensions/omni.isaac.lab/omni/isaac/lab/terrains @Dhoeller19 @Mayankm96 @nikitardn
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils @Mayankm96 @jsmith-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/modifiers @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/interpolation @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/noise @jtigue-bdai @kellyguo11
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/warp @Dhoeller19 @pascal-roth
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/assets.py @Dhoeller19 @kellyguo11 @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/math.py @jsmith-bdai @Dhoeller19 @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/configclass.py @Mayankm96 @Dhoeller19

# RL Environment
/source/extensions/omni.isaac.lab_tasks/ @Dhoeller19 @Mayankm96 @jsmith-bdai @kellyguo11
/source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct @Dhoeller19 @kellyguo11
/source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based @Dhoeller19 @Mayankm96 @jsmith-bdai @jtigue-bdai

# Assets
/source/extensions/omni.isaac.lab_assets/omni/isaac/lab_assets/ @Dhoeller19 @pascal-roth @jsmith-bdai

# Standalone Scripts
/source/standalone/demos/ @jsmith-bdai @jtigue-bdai @Dhoeller19 @kellyguo11 @Mayankm96
/source/standalone/environments/ @Mayankm96
/source/standalone/tools/ @jsmith-bdai @Mayankm96
/source/standalone/tutorials/ @jsmith-bdai @pascal-roth @kellyguo11 @Dhoeller19 @Mayankm96
/source/standalone/workflows/ @jsmith-bdai @Dhoeller19 @kellyguo11 @Mayankm96

# Github Actions
# This list is for people wanting to be notified every time there's a change
# related to Github Actions
/.github/ @kellyguo11 @jsmith-bdai

# Visual Studio Code
/.vscode/ @hhansen-bdai @Mayankm96

# Infrastructure (Docker, Docs, Tools)
/docker/ @hhansen-bdai @pascal-roth
/docs/ @jsmith-bdai @Dhoeller19 @kellyguo11 @Mayankm96
/tools/ @hhansen-bdai @jsmith-bdai @Dhoeller19
/isaaclab.* @hhansen-bdai @Dhoeller19 @Mayankm96 @kellyguo11

Updates the URDF and MJCF importers for Isaac Sim 4.5 (#182)
  docs/source/how-to/import_new_asset.rst
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/converters/mjcf_converter.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/converters/urdf_converter.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/converters/urdf_converter_cfg.py
  source/extensions/omni.isaac.lab/test/sensors/test_imu.py
  source/extensions/omni.isaac.lab/test/sim/test_spawn_from_files.py
  source/extensions/omni.isaac.lab/test/sim/test_urdf_converter.py
  source/standalone/tools/convert_urdf.py
  tools/tests_to_skip.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @hhansen-bdai

Updates PIP install steps for Isaac Sim 4.5.0 (#187)
  docs/source/setup/installation/pip_installation.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/devices/openxr/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/devices/openxr/se3_handtracking.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/devices/openxr/teleop_command.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/pretrained_checkpoint.py
  source/standalone/tools/pretrained_checkpoint.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Fixes external force buffers to set to zero when no forces/torques are applied (#185)
  CONTRIBUTORS.md
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/articulation/articulation.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/rigid_object/rigid_object.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/rigid_object_collection/rigid_object_collection.py
  source/extensions/omni.isaac.lab/test/assets/test_articulation.py
  source/extensions/omni.isaac.lab/test/assets/test_rigid_object.py
  source/extensions/omni.isaac.lab/test/assets/test_rigid_object_collection.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11, @jtigue-bdai

Renames conda and venv Python environment to env_isaaclab (#188)
  docs/source/setup/installation/binaries_installation.rst
  docs/source/setup/installation/pip_installation.rst
  isaaclab.bat
  isaaclab.sh
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @hhansen-bdai

Cleans up app file and updates livestream options (#186)
  docs/source/deployment/docker.rst
  docs/source/tutorials/00_sim/launch_app.rst
  source/apps/isaaclab.python.headless.kit
  source/apps/isaaclab.python.headless.rendering.kit
  source/apps/isaaclab.python.kit
  source/apps/isaaclab.python.rendering.kit
  source/extensions/omni.isaac.lab/omni/isaac/lab/app/app_launcher.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @hhansen-bdai

Adds Isaac Lab Mimic based on MimicGen data generation for Imitation Learning (#179)
  .github/LICENSE_HEADER_MIMIC.txt
  .pre-commit-config.yaml
  CONTRIBUTORS.md
  LICENSE-mimic
  README.md
  docs/source/overview/teleop_imitation.rst
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/app/app_launcher.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/devices/spacemouse/se3_spacemouse.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_rl_mimic_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mimic_env_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/recorder_manager.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/math.py
  source/extensions/omni.isaac.lab/setup.py
  source/extensions/omni.isaac.lab/test/utils/test_math.py
  source/extensions/omni.isaac.lab_mimic/config/extension.toml
  source/extensions/omni.isaac.lab_mimic/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab_mimic/omni/isaac/lab_mimic/__init__.py
  source/extensions/omni.isaac.lab_mimic/omni/isaac/lab_mimic/datagen/__init__.py
  source/extensions/omni.isaac.lab_mimic/omni/isaac/lab_mimic/datagen/data_generator.py
  source/extensions/omni.isaac.lab_mimic/omni/isaac/lab_mimic/datagen/datagen_info.py
  source/extensions/omni.isaac.lab_mimic/omni/isaac/lab_mimic/datagen/datagen_info_pool.py
  source/extensions/omni.isaac.lab_mimic/omni/isaac/lab_mimic/datagen/selection_strategy.py
  source/extensions/omni.isaac.lab_mimic/omni/isaac/lab_mimic/datagen/waypoint.py
  source/extensions/omni.isaac.lab_mimic/omni/isaac/lab_mimic/envs/__init__.py
  source/extensions/omni.isaac.lab_mimic/omni/isaac/lab_mimic/envs/franka_stack_ik_rel_mimic_env.py
  source/extensions/omni.isaac.lab_mimic/omni/isaac/lab_mimic/envs/franka_stack_ik_rel_mimic_env_cfg.py
  source/extensions/omni.isaac.lab_mimic/pyproject.toml
  source/extensions/omni.isaac.lab_mimic/setup.py
  source/extensions/omni.isaac.lab_mimic/test/test_generate_dataset.py
  source/extensions/omni.isaac.lab_mimic/test/test_selection_strategy.py
  source/standalone/environments/teleoperation/teleop_se3_agent.py
  source/standalone/tools/record_demos.py
  source/standalone/workflows/isaac_lab_mimic/annotate_demos.py
  source/standalone/workflows/isaac_lab_mimic/generate_dataset.py
  tools/per_test_timeouts.py
Owners: @kellyguo11, @jsmith-bdai, @Dhoeller19, @Mayankm96, @hhansen-bdai

Updates Isaac Sim imports for Isaac Sim 4.5 (#191)
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/actions/task_space_actions.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/ui/widgets/line_plot.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/ui/widgets/manager_live_visualizer.py
  source/extensions/omni.isaac.lab/test/assets/test_articulation.py
  source/extensions/omni.isaac.lab/test/assets/test_rigid_object.py
  source/extensions/omni.isaac.lab/test/assets/test_rigid_object_collection.py
  source/extensions/omni.isaac.lab/test/controllers/test_operational_space.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/factory/factory_control.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/factory/factory_env.py
  source/standalone/tutorials/05_controllers/run_osc.py
  tools/per_test_timeouts.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @pascal-roth, @hhansen-bdai

Updates docs.yaml configuration
  .github/workflows/docs.yaml
Owners: @kellyguo11, @jsmith-bdai

Adds how to create new Mimic envs to Isaac Lab Mimic docs (#197)
  docs/source/overview/teleop_imitation.rst
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Add consolidated demo script for showcasing recording and mimic dataset generation in real-time in one simulation script (#189)
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_rl_mimic_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/recorder_manager.py
  source/extensions/omni.isaac.lab_mimic/config/extension.toml
  source/extensions/omni.isaac.lab_mimic/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab_mimic/omni/isaac/lab_mimic/datagen/data_generator.py
  source/extensions/omni.isaac.lab_mimic/omni/isaac/lab_mimic/envs/franka_stack_ik_rel_mimic_env.py
  source/extensions/omni.isaac.lab_tasks/config/extension.toml
  source/extensions/omni.isaac.lab_tasks/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/stack/mdp/observations.py
  source/standalone/workflows/isaac_lab_mimic/annotate_demos.py
  source/standalone/workflows/isaac_lab_mimic/consolidated_demo.py
  source/standalone/workflows/isaac_lab_mimic/generate_dataset.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11, @jtigue-bdai

Updates teleop_imitation to include handtracking workflow (#192)
  docs/source/_static/demos/renderer_rtx_realtime.jpg
  docs/source/_static/demos/start_ar.jpg
  docs/source/_static/setup/teleop_avp_voice_control.jpg
  docs/source/_static/setup/teleop_avp_voice_item_name.jpg
  docs/source/overview/teleop_imitation.rst
  source/standalone/environments/teleoperation/teleop_se3_agent.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Updates xr teleop scripts (#193)
  source/extensions/omni.isaac.lab/omni/isaac/lab/devices/openxr/se3_handtracking.py
  source/standalone/environments/teleoperation/teleop_se3_agent.py
  source/standalone/tools/record_demos.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11
