Repository FrostyForest/IsaacLab, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kellyguo11, @hhansen-bdai, @Mayankm96, @Dhoeller19, @jsmith-bdai, @nikitardn, @jtigue-bdai, @masoudmoghani, @pascal-roth

Fixes setting the seed from CLI for RSL-RL (#1084)
  CONTRIBUTORS.md
  source/standalone/workflows/rsl_rl/cli_args.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Passes device from CLI args to simulation config in standalone scripts (#1114)
  docs/source/how-to/estimate_how_many_cameras_can_run.rst
  docs/source/overview/environments.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/app/app_launcher.py
  source/standalone/benchmarks/benchmark_cameras.py
  source/standalone/demos/arms.py
  source/standalone/demos/bipeds.py
  source/standalone/demos/cameras.py
  source/standalone/demos/deformables.py
  source/standalone/demos/hands.py
  source/standalone/demos/markers.py
  source/standalone/demos/procedural_terrain.py
  source/standalone/demos/quadcopter.py
  source/standalone/tutorials/00_sim/launch_app.py
  source/standalone/tutorials/00_sim/spawn_prims.py
  source/standalone/tutorials/01_assets/run_articulation.py
  source/standalone/tutorials/01_assets/run_deformable_object.py
  source/standalone/tutorials/01_assets/run_rigid_object.py
  source/standalone/tutorials/02_scene/create_scene.py
  source/standalone/tutorials/04_sensors/add_sensors_on_robot.py
  source/standalone/tutorials/04_sensors/run_frame_transformer.py
  source/standalone/tutorials/04_sensors/run_ray_caster.py
  source/standalone/tutorials/05_controllers/run_diff_ik.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @hhansen-bdai, @jtigue-bdai, @pascal-roth

Fixes minor typos in docs (#1119)
  CONTRIBUTORS.md
  docs/source/overview/teleop_imitation.rst
  source/standalone/demos/quadrupeds.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @jtigue-bdai

Fixes docs on running tutorials with cameras (#1116)
  docs/source/how-to/save_camera_output.rst
  docs/source/tutorials/04_sensors/add_sensors_on_robot.rst
  source/standalone/tutorials/04_sensors/add_sensors_on_robot.py
  source/standalone/tutorials/04_sensors/run_usd_camera.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @pascal-roth

Fixes camera MDP term name and reprojection docstrings (#1130)
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/observations.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/math.py
  source/extensions/omni.isaac.lab/test/utils/test_math.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/cartpole/cartpole_camera_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/cartpole/cartpole_env_cfg.py
  source/standalone/benchmarks/benchmark_cameras.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11, @jtigue-bdai

Fixes deprecation notice for using `pxr.Semantics` (#1129)
  pyproject.toml
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/utils.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/shadow_hand/shadow_hand_vision_env.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Fixes scaling of default ground plane (#1133)
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/spawners/from_files/from_files.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Modifies workflow scripts to generate random seed when seed=-1 (#1048)
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_marl_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_rl_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_env.py
  source/standalone/workflows/rl_games/train.py
  source/standalone/workflows/rsl_rl/cli_args.py
  source/standalone/workflows/sb3/train.py
  source/standalone/workflows/skrl/train.py
Owners: @kellyguo11, @jsmith-bdai, @Dhoeller19, @Mayankm96

Expands functionality of FrameTransformer to allow multi-body transforms (#858)
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/frame_transformer/frame_transformer.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/frame_transformer/frame_transformer_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/frame_transformer/frame_transformer_data.py
  source/extensions/omni.isaac.lab/test/sensors/test_frame_transformer.py
  source/standalone/tutorials/04_sensors/run_frame_transformer.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11, @pascal-roth

cart test finish
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/actions/actions_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/actions/asset_actions.py
  source/extensions/omni.isaac.lab_assets/omni/isaac/lab_assets/carter.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/carter/carter_env_cfg.py
  test_code/carter_env.py
  test_code/test.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @pascal-roth, @jtigue-bdai

Updates pre-merge and post-merge CI (#1118)
  .github/workflows/postmerge-ci-buildspec.yml
  .github/workflows/premerge-ci-buildspec.yml
  docker/.env.base
  docker/Dockerfile.base
  docker/docker-compose.yaml
  tools/run_all_tests.py
Owners: @kellyguo11, @jsmith-bdai, @hhansen-bdai, @pascal-roth, @Dhoeller19

move finish
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/actions/actions_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/carter/mdp/actions_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/carter/mdp/asset_actions.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/carter/mdp/observations.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/franka/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/franka/agents/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/franka/agents/rl_games_ppo_cfg.yaml
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/franka/agents/rsl_rl_ppo_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/franka/agents/sb3_ppo_cfg.yaml
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/franka/agents/skrl_ppo_cfg.yaml
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/franka/franka_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/franka/mdp/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/franka/mdp/rewards.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @jtigue-bdai

Adds buildspec for mirroring job (#1177)
  .github/workflows/mirror-buildspec.yml
Owners: @kellyguo11, @jsmith-bdai

Fix Cartpole Manager-based Vision-Based Environment Task Name in Docs (#1176)
  docs/source/overview/environments.rst
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Fixes Isaac Sim executable on pip installation (#1172)
  isaaclab.bat
  isaaclab.sh
Owners: @hhansen-bdai, @Dhoeller19, @Mayankm96, @kellyguo11

Fixes the event for randomizing rigid body material (#1140)
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/events.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Adds configuration classes for spawning different assets at prim paths (#1164)
  docs/source/_static/demos/multi_asset.jpg
  docs/source/api/lab/omni.isaac.lab.sim.spawners.rst
  docs/source/how-to/index.rst
  docs/source/how-to/multi_asset_spawning.rst
  docs/source/overview/showroom.rst
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/scene/interactive_scene.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/spawners/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/spawners/spawner_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/spawners/wrappers/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/spawners/wrappers/wrappers.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/spawners/wrappers/wrappers_cfg.py
  source/extensions/omni.isaac.lab/test/sim/test_spawn_wrappers.py
  source/standalone/demos/multi_asset.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @jtigue-bdai

writing franka env
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/carter/carter_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/carter/mdp/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/franka/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/franka/franka_env_cfg.py
  test_code/carter_env.py
  test_code/franka_env.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @jtigue-bdai

Moves codebuild pipeline files to `.aws` directory (#1196)
  .aws/mirror-buildspec.yml
  .aws/postmerge-ci-buildspec.yml
  .aws/premerge-ci-buildspec.yml
Owners: none

Fixes the ray_caster_camera tutorial script when saving the data (#1198)
  source/standalone/tutorials/04_sensors/run_ray_caster_camera.py
Owners: @jsmith-bdai, @pascal-roth, @kellyguo11, @Dhoeller19, @Mayankm96

Fixes running the docker container when the DISPLAY env variable is not defined (#1163)
  CONTRIBUTORS.md
  docker/utils/container_interface.py
Owners: @hhansen-bdai, @pascal-roth

Fixes default joint pos when setting joint limits (#1040)
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/articulation/articulation.py
  source/extensions/omni.isaac.lab/test/assets/test_articulation.py
  tools/per_test_timeouts.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11, @jtigue-bdai, @hhansen-bdai

Adds benchmark script to measure robot loading (#1195)
  source/extensions/omni.isaac.lab_assets/omni/isaac/lab_assets/unitree.py
  source/standalone/benchmarks/benchmark_load_robot.py
Owners: @Dhoeller19, @pascal-roth, @jsmith-bdai

Fixes formatting issues in the robot loading benchmark script
  source/standalone/benchmarks/benchmark_load_robot.py
Owners: none

Fixes device propogation for noise and adds noise tests (#1175)
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/noise/noise_model.py
  source/extensions/omni.isaac.lab/test/utils/test_noise.py
Owners: @jtigue-bdai, @kellyguo11, @Dhoeller19, @Mayankm96, @jsmith-bdai

Removes extension startup messages from the Simulation App (#1217)
  docs/source/refs/troubleshooting.rst
  source/apps/isaaclab.python.headless.kit
  source/apps/isaaclab.python.kit
  source/extensions/omni.isaac.lab/omni/isaac/lab/app/app_launcher.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/simulation_context.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/warp/ops.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @hhansen-bdai, @pascal-roth

finish franka test
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/franka/franka_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/franka/mdp/rewards.py
  test_code/franka_env.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @jtigue-bdai

Removes additional sbatch and fixes default profile in cluster deployment (#1229)
  docker/cluster/cluster_interface.sh
Owners: @hhansen-bdai, @pascal-roth

Fixes the checkpoint loading error in RSL-RL training script (#1210)
  CONTRIBUTORS.md
  source/standalone/workflows/rsl_rl/train.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Makes pre and post merge pipelines more flexible on the Isaac SIM base image version (#1211)
  .aws/postmerge-ci-buildspec.yml
  .aws/premerge-ci-buildspec.yml
Owners: none

fix observation problem
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/observations.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/franka/agents/sb3_ppo_cfg.yaml
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/franka/franka_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/franka/mdp/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/franka/mdp/observations.py
  source/standalone/workflows/sb3/train.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @jtigue-bdai

Disables backward pass compilation of warp kernels (#1222)
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/warp/kernels.py
Owners: @Dhoeller19, @pascal-roth

Switches from `carb` to `omni.log` for logging (#1215)
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/articulation/articulation.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/deformable_object/deformable_object.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/rigid_object/rigid_object.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_marl_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_rl_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/actions/binary_joint_actions.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/actions/joint_actions.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/actions/joint_actions_to_limits.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/actions/non_holonomic_actions.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/actions/task_space_actions.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/event_manager.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/manager_base.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/scene/interactive_scene.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera/camera.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/frame_transformer/frame_transformer.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/ray_caster/ray_caster.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/schemas/schemas.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/simulation_context.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/spawners/from_files/from_files.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/spawners/sensors/sensors.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/utils.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/terrains/terrain_generator.py
  source/extensions/omni.isaac.lab/test/deps/isaacsim/check_floating_base_made_fixed.py
  source/extensions/omni.isaac.lab/test/deps/isaacsim/check_legged_robot_clone.py
  source/extensions/omni.isaac.lab/test/deps/isaacsim/check_ref_count.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/utils/data_collector/robomimic_data_collector.py
  source/standalone/environments/state_machine/open_cabinet_sm.py
  source/standalone/environments/teleoperation/teleop_se3_agent.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @jtigue-bdai, @masoudmoghani, @pascal-roth, @nikitardn

Excludes cache files from vscode explorer (#1131)
  .vscode/tools/settings.template.json
Owners: @hhansen-bdai, @Mayankm96

Adds doc building step on push (#1234)
  .github/workflows/docs.yaml
  docs/conf.py
Owners: @kellyguo11, @jsmith-bdai, @Dhoeller19, @Mayankm96

Adds better error message for invalid actuator parameters (#1235)
  source/extensions/omni.isaac.lab/omni/isaac/lab/actuators/actuator_base.py
Owners: @Dhoeller19, @Mayankm96, @nikitardn, @jtigue-bdai

Fixes GitHub action for docs deployment (#1239)
  .github/workflows/docs.yaml
Owners: @kellyguo11, @jsmith-bdai

Fixes typos in render interval warning messages (#1237)
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_marl_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_rl_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_env.py
Owners: @kellyguo11, @jsmith-bdai, @Dhoeller19, @Mayankm96

Updates tested docker and apptainer versions for cluster deployment (#1230)
  docker/cluster/cluster_interface.sh
  docs/source/deployment/cluster.rst
Owners: @hhansen-bdai, @pascal-roth, @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

learning direct rl env
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/franka/franka_env_cfg.py
  source/standalone/workflows/skrl/train.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @jtigue-bdai, @kellyguo11

.github/CODEOWNERS:

# Codeowners are designated by their GitHub username. They are
# the people who are responsible for reviewing and approving PRs
# that modify the files that match the pattern.
#
# Codeowners are not the same as contributors. They are not
# automatically added to the PR, but they will be requested to
# review the PR when it is created.
#
# As a general rule, the codeowners are the people who are
# most familiar with the code that the PR is modifying. If you
# are not sure who to add, ask in the issue or in the PR itself.
#
# The format of the file is as follows:
# <file pattern> <codeowners>


# App experience files
# These are the files that are used to launch the app with the correct settings and configurations
/source/apps/ @kellyguo11 @hhansen-bdai @Mayankm96 @Dhoeller19

# Core Framework
/source/extensions/omni.isaac.lab/ @Dhoeller19 @Mayankm96 @jsmith-bdai @kellyguo11
/source/extensions/omni.isaac.lab/omni/isaac/lab/actuators @Dhoeller19 @Mayankm96 @nikitardn @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/app @hhansen-bdai @kellyguo11
/source/extensions/omni.isaac.lab/omni/isaac/lab/assets @jsmith-bdai @Dhoeller19 @kellyguo11 @Mayankm96 @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/assets/deformable_object @kellyguo11 @Mayankm96 @masoudmoghani
/source/extensions/omni.isaac.lab/omni/isaac/lab/controllers @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/envs @jsmith-bdai @Dhoeller19 @kellyguo11 @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_* @jsmith-bdai @Dhoeller19 @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_* @kellyguo11
/source/extensions/omni.isaac.lab/omni/isaac/lab/managers @jsmith-bdai @Dhoeller19 @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/sensors @jsmith-bdai @Dhoeller19 @pascal-roth @Mayankm96 @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera @kellyguo11 @pascal-roth
/source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/contact_sensor @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/frame_transformer @jsmith-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/ray_caster @pascal-roth @Dhoeller19
/source/extensions/omni.isaac.lab/omni/isaac/lab/sim @Mayankm96 @jsmith-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/sim/simulation_context.py @Dhoeller19 @kellyguo11
/source/extensions/omni.isaac.lab/omni/isaac/lab/terrains @Dhoeller19 @Mayankm96 @nikitardn
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils @Mayankm96 @jsmith-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/modifiers @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/interpolation @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/noise @jtigue-bdai @kellyguo11
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/warp @Dhoeller19 @pascal-roth
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/assets.py @Dhoeller19 @kellyguo11 @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/math.py @jsmith-bdai @Dhoeller19 @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/configclass.py @Mayankm96 @Dhoeller19

# RL Environment
/source/extensions/omni.isaac.lab_tasks/ @Dhoeller19 @Mayankm96 @jsmith-bdai @kellyguo11
/source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct @Dhoeller19 @kellyguo11
/source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based @Dhoeller19 @Mayankm96 @jsmith-bdai @jtigue-bdai

# Assets
/source/extensions/omni.isaac.lab_assets/omni/isaac/lab_assets/ @Dhoeller19 @pascal-roth @jsmith-bdai

# Standalone Scripts
/source/standalone/demos/ @jsmith-bdai @jtigue-bdai @Dhoeller19 @kellyguo11 @Mayankm96
/source/standalone/environments/ @Mayankm96
/source/standalone/tools/ @jsmith-bdai @Mayankm96
/source/standalone/tutorials/ @jsmith-bdai @pascal-roth @kellyguo11 @Dhoeller19 @Mayankm96
/source/standalone/workflows/ @jsmith-bdai @Dhoeller19 @kellyguo11 @Mayankm96

# Github Actions
# This list is for people wanting to be notified every time there's a change
# related to Github Actions
/.github/ @kellyguo11 @jsmith-bdai

# Visual Studio Code
/.vscode/ @hhansen-bdai @Mayankm96

# Infrastructure (Docker, Docs, Tools)
/docker/ @hhansen-bdai @pascal-roth
/docs/ @jsmith-bdai @Dhoeller19 @kellyguo11 @Mayankm96
/tools/ @hhansen-bdai @jsmith-bdai @Dhoeller19
/isaaclab.* @hhansen-bdai @Dhoeller19 @Mayankm96 @kellyguo11
