Repository FrostyForest/IsaacLab, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kellyguo11, @hhansen-bdai, @Mayankm96, @Dhoeller19, @jsmith-bdai, @nikitardn, @jtigue-bdai, @masoudmoghani, @pascal-roth

.github/CODEOWNERS:

# Codeowners are designated by their GitHub username. They are
# the people who are responsible for reviewing and approving PRs
# that modify the files that match the pattern.
#
# Codeowners are not the same as contributors. They are not
# automatically added to the PR, but they will be requested to
# review the PR when it is created.
#
# As a general rule, the codeowners are the people who are
# most familiar with the code that the PR is modifying. If you
# are not sure who to add, ask in the issue or in the PR itself.
#
# The format of the file is as follows:
# <file pattern> <codeowners>


# App experience files
# These are the files that are used to launch the app with the correct settings and configurations
/source/apps/ @kellyguo11 @hhansen-bdai @Mayankm96 @Dhoeller19

# Core Framework
/source/extensions/omni.isaac.lab/ @Dhoeller19 @Mayankm96 @jsmith-bdai @kellyguo11
/source/extensions/omni.isaac.lab/omni/isaac/lab/actuators @Dhoeller19 @Mayankm96 @nikitardn @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/app @hhansen-bdai @kellyguo11
/source/extensions/omni.isaac.lab/omni/isaac/lab/assets @jsmith-bdai @Dhoeller19 @kellyguo11 @Mayankm96 @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/assets/deformable_object @kellyguo11 @Mayankm96 @masoudmoghani
/source/extensions/omni.isaac.lab/omni/isaac/lab/controllers @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/envs @jsmith-bdai @Dhoeller19 @kellyguo11 @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_* @jsmith-bdai @Dhoeller19 @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_* @kellyguo11
/source/extensions/omni.isaac.lab/omni/isaac/lab/managers @jsmith-bdai @Dhoeller19 @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/sensors @jsmith-bdai @Dhoeller19 @pascal-roth @Mayankm96 @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera @kellyguo11 @pascal-roth
/source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/contact_sensor @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/frame_transformer @jsmith-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/ray_caster @pascal-roth @Dhoeller19
/source/extensions/omni.isaac.lab/omni/isaac/lab/sim @Mayankm96 @jsmith-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/sim/simulation_context.py @Dhoeller19 @kellyguo11
/source/extensions/omni.isaac.lab/omni/isaac/lab/terrains @Dhoeller19 @Mayankm96 @nikitardn
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils @Mayankm96 @jsmith-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/modifiers @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/interpolation @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/noise @jtigue-bdai @kellyguo11
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/warp @Dhoeller19 @pascal-roth
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/assets.py @Dhoeller19 @kellyguo11 @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/math.py @jsmith-bdai @Dhoeller19 @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/configclass.py @Mayankm96 @Dhoeller19

# RL Environment
/source/extensions/omni.isaac.lab_tasks/ @Dhoeller19 @Mayankm96 @jsmith-bdai @kellyguo11
/source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct @Dhoeller19 @kellyguo11
/source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based @Dhoeller19 @Mayankm96 @jsmith-bdai @jtigue-bdai

# Assets
/source/extensions/omni.isaac.lab_assets/omni/isaac/lab_assets/ @Dhoeller19 @pascal-roth @jsmith-bdai

# Standalone Scripts
/source/standalone/demos/ @jsmith-bdai @jtigue-bdai @Dhoeller19 @kellyguo11 @Mayankm96
/source/standalone/environments/ @Mayankm96
/source/standalone/tools/ @jsmith-bdai @Mayankm96
/source/standalone/tutorials/ @jsmith-bdai @pascal-roth @kellyguo11 @Dhoeller19 @Mayankm96
/source/standalone/workflows/ @jsmith-bdai @Dhoeller19 @kellyguo11 @Mayankm96

# Github Actions
# This list is for people wanting to be notified every time there's a change
# related to Github Actions
/.github/ @kellyguo11 @jsmith-bdai

# Visual Studio Code
/.vscode/ @hhansen-bdai @Mayankm96

# Infrastructure (Docker, Docs, Tools)
/docker/ @hhansen-bdai @pascal-roth
/docs/ @jsmith-bdai @Dhoeller19 @kellyguo11 @Mayankm96
/tools/ @hhansen-bdai @jsmith-bdai @Dhoeller19
/isaaclab.* @hhansen-bdai @Dhoeller19 @Mayankm96 @kellyguo11

Adds the teddy bear pick and lift example (#128)
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/lift/config/franka/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/lift/config/franka/ik_abs_env_cfg.py
  source/standalone/environments/state_machine/lift_teddy_bear.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @jtigue-bdai

Adds environment details table (#104)
  docs/source/features/environments.rst
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Adds tutorial for modifying an existing Direct RL Environment (#115)
  docs/source/_static/tutorials/tutorial_modify_direct_rl_env.jpg
  docs/source/refs/snippets/tutorial_modify_direct_rl_env.py
  docs/source/tutorials/03_envs/index.rst
  docs/source/tutorials/03_envs/modify_direct_rl_env.rst
  docs/source/tutorials/03_envs/register_rl_env_gym.rst
  docs/source/tutorials/03_envs/run_rl_training.rst
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Fixes benchmarking scripts (#99)
  source/standalone/benchmarks/benchmark_non_rl.py
  source/standalone/benchmarks/benchmark_rlgames.py
  source/standalone/benchmarks/benchmark_rsl_rl.py
  source/standalone/benchmarks/utils.py
Owners: none

Update rl_frameworks.rst
  docs/source/overview/reinforcement-learning/rl_frameworks.rst
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Updates code to Isaac Sim 4.2.0 (#120)
  README.md
  docker/.env.base
  docs/conf.py
  docs/source/setup/installation/binaries_installation.rst
  docs/source/setup/installation/index.rst
  docs/source/setup/installation/verifying_installation.rst
  source/apps/isaaclab.python.rendering.kit
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/schemas/schemas.py
  source/extensions/omni.isaac.lab/setup.py
  source/extensions/omni.isaac.lab_assets/setup.py
  source/extensions/omni.isaac.lab_tasks/setup.py
Owners: @hhansen-bdai, @pascal-roth, @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Adds Shadow Hand Vision environment (#107)
  docs/source/features/environments.rst
  source/extensions/omni.isaac.lab_tasks/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/inhand_manipulation/inhand_manipulation_env.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/shadow_hand/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/shadow_hand/agents/rl_games_ppo_vision_cfg.yaml
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/shadow_hand/agents/rsl_rl_ppo_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/shadow_hand/feature_extractor.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/shadow_hand/shadow_hand_vision_env.py
  source/extensions/omni.isaac.lab_tasks/test/test_environments.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Adds instruction to update pip (#102)
  docs/source/setup/installation/pip_installation.rst
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Add the direct workflow cart double pendulum multi-agent environment (#94)
  docs/source/_static/tasks/classic/cart_double_pendulum.jpg
  docs/source/features/environments.rst
  source/extensions/omni.isaac.lab_assets/config/extension.toml
  source/extensions/omni.isaac.lab_assets/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab_assets/omni/isaac/lab_assets/__init__.py
  source/extensions/omni.isaac.lab_assets/omni/isaac/lab_assets/cart_double_pendulum.py
  source/extensions/omni.isaac.lab_tasks/config/extension.toml
  source/extensions/omni.isaac.lab_tasks/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/cart_double_pendulum/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/cart_double_pendulum/agents/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/cart_double_pendulum/agents/rl_games_ppo_cfg.yaml
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/cart_double_pendulum/agents/rsl_rl_ppo_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/cart_double_pendulum/agents/skrl_ippo_cfg.yaml
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/cart_double_pendulum/agents/skrl_mappo_cfg.yaml
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/cart_double_pendulum/agents/skrl_ppo_cfg.yaml
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/cart_double_pendulum/cart_double_pendulum_env.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/utils/wrappers/skrl.py
  source/extensions/omni.isaac.lab_tasks/test/test_multi_agent_environments.py
  source/standalone/workflows/rl_games/play.py
  source/standalone/workflows/rl_games/train.py
  source/standalone/workflows/rsl_rl/play.py
  source/standalone/workflows/rsl_rl/train.py
  source/standalone/workflows/sb3/train.py
  source/standalone/workflows/skrl/play.py
  source/standalone/workflows/skrl/train.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @pascal-roth

Forces onnx version to 1.16.1 (#106)
  source/extensions/omni.isaac.lab/setup.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Adds thumbnails of environments in benchmarking table (#109)
  docs/source/_static/benchmarks/cartpole.jpg
  docs/source/_static/benchmarks/cartpole_camera.jpg
  docs/source/_static/benchmarks/g1_rough.jpg
  docs/source/_static/benchmarks/shadow.jpg
  docs/source/overview/reinforcement-learning/performance_benchmarks.rst
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Modifies the teleop_se3_agent example reset logic (#112)
  source/standalone/environments/teleoperation/teleop_se3_agent.py
Owners: @Mayankm96

Restructures the documentation (#126)
  docs/index.rst
  docs/source/features/tiled_rendering.rst
  docs/source/how-to/index.rst
  docs/source/how-to/record_video.rst
  docs/source/how-to/write_articulation_cfg.rst
  docs/source/overview/basic_agents.rst
  docs/source/overview/core-concepts/actuators.rst
  docs/source/overview/core-concepts/index.rst
  docs/source/overview/core-concepts/task_workflows.rst
  docs/source/overview/developer-guide/repo_structure.rst
  docs/source/overview/environment-workflows/basic_environments.rst
  docs/source/overview/environment-workflows/index.rst
  docs/source/overview/environments.rst
  docs/source/overview/reinforcement-learning/rl_existing_scripts.rst
  docs/source/overview/sample_scripts.rst
  docs/source/refs/additional_resources.rst
  docs/source/setup/installation/binaries_installation.rst
  docs/source/setup/installation/index.rst
  docs/source/setup/installation/pip_installation.rst
  docs/source/setup/installation/verifying_installation.rst
  docs/source/tutorials/00_sim/index.rst
  docs/source/tutorials/01_assets/index.rst
  docs/source/tutorials/01_assets/run_articulation.rst
  docs/source/tutorials/02_scene/index.rst
  docs/source/tutorials/03_envs/index.rst
  docs/source/tutorials/04_sensors/index.rst
  docs/source/tutorials/05_controllers/index.rst
  docs/source/tutorials/index.rst
  source/apps/isaaclab.python.headless.rendering.kit
  source/apps/isaaclab.python.rendering.kit
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/schemas/schemas.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/schemas/schemas_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/simulation_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/simulation_context.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/spawners/materials/physics_materials.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/spawners/materials/physics_materials_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/shadow_hand/feature_extractor.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/shadow_hand/shadow_hand_vision_env.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @hhansen-bdai

Adds the multi-agent RL environment (#93)
  docs/source/api/lab/omni.isaac.lab.envs.rst
  docs/source/features/task_workflows.rst
  docs/source/tutorials/03_envs/register_rl_env_gym.rst
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/common.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_marl_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_marl_env_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/utils.py
  source/extensions/omni.isaac.lab/setup.py
  source/extensions/omni.isaac.lab/test/envs/test_direct_marl_env.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Updates torch to version 2.4.0 (#92)
  docs/source/setup/installation/pip_installation.rst
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/simulation_context.py
  source/extensions/omni.isaac.lab/setup.py
  source/extensions/omni.isaac.lab_tasks/setup.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Improves actuator performance by replacing list with tensor (#121)
  source/apps/isaaclab.python.headless.kit
  source/apps/isaaclab.python.headless.rendering.kit
  source/apps/isaaclab.python.kit
  source/apps/isaaclab.python.rendering.kit
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/articulation/articulation.py
Owners: @kellyguo11, @hhansen-bdai, @Mayankm96, @Dhoeller19, @jsmith-bdai, @jtigue-bdai

Fixes tiled rendering limitations and frame offset issue (#113)
  docs/source/features/tiled_rendering.rst
  source/apps/isaaclab.python.headless.rendering.kit
  source/apps/isaaclab.python.kit
  source/apps/isaaclab.python.rendering.kit
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_rl_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_rl_env_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_env_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_rl_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera/camera.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera/tiled_camera.py
  source/extensions/omni.isaac.lab/test/sensors/test_camera.py
  source/extensions/omni.isaac.lab/test/sensors/test_tiled_camera.py
  source/extensions/omni.isaac.lab/test/sensors/test_tiled_camera_env.py
  source/extensions/omni.isaac.lab_tasks/docs/CHANGELOG.rst
  tools/tests_to_skip.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @hhansen-bdai, @pascal-roth

Updates documentation (#125)
  docs/source/features/environments.rst
  docs/source/overview/reinforcement-learning/rl_existing_scripts.rst
  docs/source/setup/installation/pip_installation.rst
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Fixes the camera frame delay (#124)
  VERSION
  source/apps/isaaclab.python.headless.kit
  source/apps/isaaclab.python.headless.rendering.kit
  source/apps/isaaclab.python.kit
  source/apps/isaaclab.python.rendering.kit
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/articulation/articulation.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/articulation/articulation_data.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_rl_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_rl_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera/camera.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera/tiled_camera.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/simulation_context.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/shadow_hand/shadow_hand_vision_env.py
Owners: @kellyguo11, @hhansen-bdai, @Mayankm96, @Dhoeller19, @jsmith-bdai, @jtigue-bdai, @pascal-roth

Uses new replicator API for tiled rendering (#110)
  docs/source/features/tiled_rendering.rst
  source/apps/isaaclab.python.headless.rendering.kit
  source/apps/isaaclab.python.rendering.kit
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera/tiled_camera.py
  source/extensions/omni.isaac.lab/test/sensors/test_tiled_camera.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @hhansen-bdai, @pascal-roth

Removes the rsl_rl agent configs from multi-agent tasks (#116)
  docs/source/features/environments.rst
  source/extensions/omni.isaac.lab_tasks/config/extension.toml
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/cart_double_pendulum/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/cart_double_pendulum/agents/rsl_rl_ppo_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/shadow_hand_over/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/shadow_hand_over/agents/rsl_rl_ppo_cfg.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Fixing pre-build CI (#101)
  .github/workflows/premerge-ci-buildspec.yml
Owners: @kellyguo11, @jsmith-bdai

Adds images to showroom scripts documentation (#130)
  docs/index.rst
  docs/source/_static/demos/arms.jpg
  docs/source/_static/demos/deformables.jpg
  docs/source/_static/demos/hands.jpg
  docs/source/_static/demos/markers.jpg
  docs/source/_static/demos/procedural_terrain.jpg
  docs/source/_static/demos/quadrupeds.jpg
  docs/source/_static/tutorials/tutorial_run_deformable_object.jpg
  docs/source/overview/basic_agents.rst
  docs/source/overview/sample_scripts.rst
  docs/source/overview/showroom.rst
  docs/source/tutorials/01_assets/run_deformable_object.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/markers/visualization_markers.py
  source/standalone/demos/bipeds.py
  source/standalone/demos/markers.py
  source/standalone/demos/procedural_terrain.py
  source/standalone/demos/quadcopter.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @jtigue-bdai

Updates unit tests to release 1.2 (#132)
  .github/workflows/premerge-ci-buildspec.yml
  source/extensions/omni.isaac.lab/test/sensors/test_camera.py
Owners: @kellyguo11, @jsmith-bdai, @Dhoeller19, @Mayankm96

Updates the CI runner to "latest:1.2" (#1016)
  .github/workflows/postmerge-ci-buildspec.yml
  .github/workflows/premerge-ci-buildspec.yml
  tools/run_all_tests.py
Owners: @kellyguo11, @jsmith-bdai, @hhansen-bdai, @Dhoeller19

Fixes typos in the documentation (#1021)
  docs/index.rst
  docs/source/deployment/run_docker_example.rst
  docs/source/features/hydra.rst
  docs/source/overview/core-concepts/motion_generators.rst
  docs/source/overview/developer-guide/development.rst
  docs/source/overview/developer-guide/index.rst
  docs/source/overview/developer-guide/repo_structure.rst
  docs/source/overview/developer-guide/vs_code.rst
  docs/source/overview/environments.rst
  docs/source/overview/simple_agents.rst
  docs/source/refs/issues.rst
  docs/source/setup/installation/pip_installation.rst
  docs/source/tutorials/00_sim/launch_app.rst
  docs/source/tutorials/03_envs/create_manager_base_env.rst
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

test carter env
  source/extensions/omni.isaac.lab_assets/omni/isaac/lab_assets/carter.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/carter/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/carter/agents/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/carter/agents/rl_games_ppo_cfg.yaml
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/carter/agents/rsl_rl_ppo_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/carter/agents/sb3_ppo_cfg.yaml
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/carter/agents/skrl_ppo_cfg.yaml
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/carter/carter_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/carter/mdp/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/carter/mdp/rewards.py
  test_code/carter_env.py
  test_code/direct_rl_env.py
  test_code/manager_base_env.py
  test_code/training.py
Owners: @Dhoeller19, @pascal-roth, @jsmith-bdai, @Mayankm96, @jtigue-bdai

env config complete
  source/extensions/omni.isaac.lab_assets/omni/isaac/lab_assets/carter.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/carter/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/carter/carter_env_cfg.py
  test_code/carter_env.py
  test_code/manager_base_env.py
Owners: @Dhoeller19, @pascal-roth, @jsmith-bdai, @Mayankm96, @jtigue-bdai

Fixes setting the device from CLI in the RL training scripts (#1013)
  CONTRIBUTORS.md
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_marl_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_marl_env_cfg.py
  source/standalone/workflows/rl_games/train.py
  source/standalone/workflows/rsl_rl/train.py
  source/standalone/workflows/sb3/train.py
  source/standalone/workflows/skrl/train.py
Owners: @kellyguo11, @jsmith-bdai, @Dhoeller19, @Mayankm96

Disables replicate physics for deformable teddy lift environment (#1026)
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/events.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/lift/config/franka/ik_abs_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/lift/lift_env_cfg.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @jtigue-bdai

Fixes Jacobian joint indices for floating base articulations (#1033)
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/actions/task_space_actions.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Inverts SE-2 keyboard device actions (Z, X) for yaw command (#1030)
  source/extensions/omni.isaac.lab/omni/isaac/lab/devices/keyboard/se2_keyboard.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Add Camera Benchmark Tool and Allow Correct Unprojection of distance_to_camera depth image (#976)
  CONTRIBUTORS.md
  docs/source/how-to/estimate_how_many_cameras_can_run.rst
  docs/source/how-to/index.rst
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/math.py
  source/extensions/omni.isaac.lab/test/utils/test_math.py
  source/standalone/tutorials/04_sensors/benchmark_cameras.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @pascal-roth

Create Manager Based Cartpole Vision Example Environments (#995)
  docs/source/overview/environments.rst
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/observations.py
  source/extensions/omni.isaac.lab_tasks/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/cartpole/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/cartpole/agents/rl_games_camera_ppo_cfg.yaml
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/cartpole/cartpole_camera_env_cfg.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @jtigue-bdai

random test
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/observations.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/scene_entity_cfg.py
  source/extensions/omni.isaac.lab_assets/omni/isaac/lab_assets/carter.py
  source/extensions/omni.isaac.lab_assets/omni/isaac/lab_assets/cartpole.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/carter/carter_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/cartpole/cartpole_env_cfg.py
  test_code/carter_env.py
  test_code/manager_base_env.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @pascal-roth, @jtigue-bdai

test_finish
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/observations.py
  source/extensions/omni.isaac.lab_assets/omni/isaac/lab_assets/carter.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/carter/carter_env_cfg.py
  test_code/carter_env.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @pascal-roth, @jtigue-bdai

gym test finish
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/rewards.py
  source/extensions/omni.isaac.lab_assets/omni/isaac/lab_assets/carter.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/carter/agents/rsl_rl_ppo_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/carter/carter_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/carter/mdp/rewards.py
  test_code/carter_env.py
  test_code/random_agent.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @pascal-roth, @jtigue-bdai

train test finish
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/events.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/carter/agents/sb3_ppo_cfg.yaml
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/carter/mdp/rewards.py
  test_code/carter_env.py
  test_code/random_agent.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @jtigue-bdai

rl train testing
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/events.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/observations.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/terminations.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/carter/agents/sb3_ppo_cfg.yaml
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/carter/carter_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/carter/mdp/rewards.py
  test_code/carter_env.py
  test_code/test.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @jtigue-bdai

train test finish
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/terminations.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/carter/agents/sb3_ppo_cfg.yaml
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/carter/carter_env_cfg.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @jtigue-bdai
