Repository FrostyForest/IsaacLab, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kellyguo11, @hhansen-bdai, @Mayankm96, @Dhoeller19, @jsmith-bdai, @nikitardn, @jtigue-bdai, @masoudmoghani, @pascal-roth

Adds documentation and example scripts for sensors (#1443)
  docs/index.rst
  docs/source/_static/overview/overview_sensors_contact_diagram.png
  docs/source/_static/overview/overview_sensors_depth.png
  docs/source/_static/overview/overview_sensors_frame_transformer.png
  docs/source/_static/overview/overview_sensors_ft_visualizer.png
  docs/source/_static/overview/overview_sensors_instance.png
  docs/source/_static/overview/overview_sensors_instanceID.png
  docs/source/_static/overview/overview_sensors_normals.png
  docs/source/_static/overview/overview_sensors_rc_patterns.png
  docs/source/_static/overview/overview_sensors_rc_visualizer.png
  docs/source/_static/overview/overview_sensors_rgb.png
  docs/source/_static/overview/overview_sensors_semantic.png
  docs/source/overview/sensors/camera.rst
  docs/source/overview/sensors/contact_sensor.rst
  docs/source/overview/sensors/frame_transformer.rst
  docs/source/overview/sensors/index.rst
  docs/source/overview/sensors/ray_caster.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/rigid_object/rigid_object.py
  source/standalone/demos/sensors/contact_sensor.py
  source/standalone/demos/sensors/frame_transformer_sensor.py
  source/standalone/demos/sensors/raycaster_sensor.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @jtigue-bdai

Adds gym.Env to DirectMARLEnv for Gymnasium v1.0.0 (#1446)
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_marl_env.py
  source/extensions/omni.isaac.lab/setup.py
  source/extensions/omni.isaac.lab_tasks/test/test_environments.py
  source/extensions/omni.isaac.lab_tasks/test/test_multi_agent_environments.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Fixes warp-lang import and pip install documentation (#1495)
  docs/source/setup/installation/pip_installation.rst
  source/extensions/omni.isaac.lab/setup.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Fixes entry_point and kwargs in isaaclab_tasks README (#1485)
  source/extensions/omni.isaac.lab_tasks/docs/README.md
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Adds recorder manager in manager-based environments (#1336)
  .gitattributes
  CONTRIBUTORS.md
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_env_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_rl_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/recorders/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/recorders/recorders.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/recorders/recorders_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/manager_term_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/recorder_manager.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/scene/interactive_scene.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/datasets/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/datasets/dataset_file_handler_base.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/datasets/episode_data.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/datasets/hdf5_dataset_file_handler.py
  source/extensions/omni.isaac.lab/test/managers/test_recorder_manager.py
  source/extensions/omni.isaac.lab/test/utils/test_episode_data.py
  source/extensions/omni.isaac.lab/test/utils/test_hdf5_dataset_file_handler.py
  source/standalone/tools/record_demos.py
  source/standalone/tools/replay_demos.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Adds a Franka stacking ManagerBasedRLEnv (#1494)
  CONTRIBUTORS.md
  docs/source/_static/tasks/manipulation/franka_stack.jpg
  docs/source/overview/environments.rst
  source/extensions/omni.isaac.lab_tasks/config/extension.toml
  source/extensions/omni.isaac.lab_tasks/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/stack/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/stack/config/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/stack/config/franka/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/stack/config/franka/agents/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/stack/config/franka/agents/robomimic/bc_rnn_low_dim.json
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/stack/config/franka/stack_ik_rel_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/stack/config/franka/stack_ik_rel_instance_randomize_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/stack/config/franka/stack_joint_pos_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/stack/config/franka/stack_joint_pos_instance_randomize_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/stack/mdp/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/stack/mdp/franka_stack_events.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/stack/mdp/observations.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/stack/mdp/terminations.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/stack/stack_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/stack/stack_instance_randomize_env_cfg.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @jtigue-bdai

Removes duplicated `TerminationsCfg` code in G1 and H1 RoughEnvCfg (#1484)
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/g1/rough_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/h1/rough_env_cfg.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @jtigue-bdai

Fixes noise_model initialized in direct_marl_env (#1480)
  CONTRIBUTORS.md
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_marl_env.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Fixes syntax for checking if pre-commit is installed in isaaclab.sh (#1422)
  isaaclab.sh
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
Owners: @hhansen-bdai, @Dhoeller19, @Mayankm96, @kellyguo11, @jsmith-bdai

Removes tensordict dependencies (#1413)
  .vscode/tools/settings.template.json
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/setup.py
Owners: @hhansen-bdai, @Mayankm96, @Dhoeller19, @jsmith-bdai, @kellyguo11

Adds option to change the clipping behavior for all Cameras and unifies the default (#891)
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera/camera.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera/camera_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera/tiled_camera.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/ray_caster/ray_caster_camera.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/ray_caster/ray_caster_camera_cfg.py
  source/extensions/omni.isaac.lab/test/sensors/test_camera.py
  source/extensions/omni.isaac.lab/test/sensors/test_ray_caster_camera.py
  source/extensions/omni.isaac.lab/test/sensors/test_tiled_camera.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11, @pascal-roth

Corrects fisheye camera projection types in spawner configuration (#1361)
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/spawners/sensors/sensors_cfg.py
  source/extensions/omni.isaac.lab/test/sim/test_spawn_sensors.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Adds check that no articulation root API is applied on rigid bodies (#1358)
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/rigid_object/rigid_object.py
  source/extensions/omni.isaac.lab/test/assets/test_rigid_object.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11, @jtigue-bdai

Fixes actuator velocity limits propagation down the articulation root_physx_view (#1509)
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/articulation/articulation.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/articulation/articulation_data.py
  source/extensions/omni.isaac.lab/test/assets/test_articulation.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11, @jtigue-bdai

Fixes the initial state recorder term for multi-env use cases (#1499)
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/recorders/recorders.py
  source/extensions/omni.isaac.lab/test/envs/test_action_state_recorder_term.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Computes Jacobian in the root frame inside the `DifferentialInverseKinematicsAction` class (#967)
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/actions/task_space_actions.py
  source/extensions/omni.isaac.lab/test/controllers/test_differential_ik.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Adds transform for mesh_prim of ray caster sensor (#1448)
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/ray_caster/ray_caster.py
Owners: @pascal-roth, @Dhoeller19

Fixes configclass dict conversion for torch tensors (#1530)
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/dict.py
  source/extensions/omni.isaac.lab/test/utils/test_configclass.py
Owners: @Mayankm96, @jsmith-bdai, @Dhoeller19, @kellyguo11

Adds RayCaster rough terrain base height to reward (#1525)
  CONTRIBUTORS.md
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/rewards.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Adds Ray Workflow: Multiple Run Support, Distributed Hyperparameter Tuning, and Consistent Setup Across Local/Cloud (#1301)
  docs/index.rst
  docs/source/features/ray.rst
  source/standalone/workflows/ray/cluster_configs/Dockerfile
  source/standalone/workflows/ray/cluster_configs/google_cloud/kuberay.yaml.jinja
  source/standalone/workflows/ray/grok_cluster_with_kubectl.py
  source/standalone/workflows/ray/hyperparameter_tuning/vision_cartpole_cfg.py
  source/standalone/workflows/ray/hyperparameter_tuning/vision_cfg.py
  source/standalone/workflows/ray/launch.py
  source/standalone/workflows/ray/mlflow_to_local_tensorboard.py
  source/standalone/workflows/ray/submit_job.py
  source/standalone/workflows/ray/tuner.py
  source/standalone/workflows/ray/util.py
  source/standalone/workflows/ray/wrap_resources.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Fixes Dependency Install Documentation Rendering for Ray Integration (#1538)
  docs/source/features/ray.rst
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Fixes error in apply_actions method in `NonHolonomicAction` action term. (#1513)
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/actions/non_holonomic_actions.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Adds position threshold check for state transitions (#1544)
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/standalone/environments/state_machine/lift_cube_sm.py
  source/standalone/environments/state_machine/lift_teddy_bear.py
  source/standalone/environments/state_machine/open_cabinet_sm.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Adds clip range for JointAction (#1476)
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/actions/binary_joint_actions.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/actions/joint_actions.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/actions/joint_actions_to_limits.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/actions/non_holonomic_actions.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/actions/task_space_actions.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/manager_term_cfg.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Adds observation term history support to Observation Manager (#1439)
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/manager_term_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/observation_manager.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/buffers/circular_buffer.py
  source/extensions/omni.isaac.lab/test/managers/test_observation_manager.py
  source/extensions/omni.isaac.lab/test/utils/test_circular_buffer.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Adds live plots to managers (#893)
  .pre-commit-config.yaml
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_rl_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/ui/base_env_window.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/ui/manager_based_rl_env_window.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/action_manager.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/command_manager.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/curriculum_manager.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/manager_base.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/observation_manager.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/reward_manager.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/termination_manager.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/ui/widgets/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/ui/widgets/image_plot.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/ui/widgets/line_plot.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/ui/widgets/manager_live_visualizer.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/ui/widgets/ui_visualizer_base.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/ui/widgets/ui_widget_wrapper.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Fixes outdated sensor data after reset (#1276)
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_rl_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_rl_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/simulation_context.py
  source/extensions/omni.isaac.lab/test/sensors/test_outdated_sensor.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Adds `OperationSpaceController` to docs and tests and implement corresponding action/action_cfg classes (#913)
  docs/source/_static/tutorials/tutorial_operational_space_controller.jpg
  docs/source/api/lab/omni.isaac.lab.controllers.rst
  docs/source/overview/environments.rst
  docs/source/tutorials/05_controllers/run_osc.rst
  docs/source/tutorials/index.rst
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/controllers/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/controllers/operational_space.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/controllers/operational_space_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/actions/actions_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/actions/task_space_actions.py
  source/extensions/omni.isaac.lab/test/controllers/test_operational_space.py
  source/extensions/omni.isaac.lab_tasks/config/extension.toml
  source/extensions/omni.isaac.lab_tasks/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/reach/config/franka/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/reach/config/franka/osc_env_cfg.py
  source/standalone/tutorials/05_controllers/run_osc.py
  tools/per_test_timeouts.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @jtigue-bdai, @pascal-roth, @hhansen-bdai

Fixes order of logging metrics and sampling commands in command manager (#1352)
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/command_manager.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Adds Factory contact-rich manipulation tasks to IsaacLab (#1520)
  CONTRIBUTORS.md
  docs/source/_static/tasks/factory/gear_mesh.jpg
  docs/source/_static/tasks/factory/nut_thread.jpg
  docs/source/_static/tasks/factory/peg_insert.jpg
  docs/source/overview/environments.rst
  source/extensions/omni.isaac.lab_tasks/config/extension.toml
  source/extensions/omni.isaac.lab_tasks/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/factory/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/factory/agents/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/factory/agents/rl_games_ppo_cfg.yaml
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/factory/factory_control.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/factory/factory_env.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/factory/factory_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/factory/factory_tasks_cfg.py
  source/standalone/workflows/rl_games/play.py
  tools/per_test_timeouts.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @hhansen-bdai

Fixes broken image link of `stack-cube` in document (#1550)
  docs/source/overview/environments.rst
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Fixes docstring for UsdFileCfg (#1554)
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/spawners/from_files/from_files_cfg.py
Owners: @Mayankm96, @jsmith-bdai

Adds null-space control option within `OperationSpaceController` (#1557)
  docs/source/tutorials/05_controllers/run_osc.rst
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/controllers/operational_space.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/controllers/operational_space_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/actions/actions_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/actions/task_space_actions.py
  source/extensions/omni.isaac.lab/test/controllers/test_operational_space.py
  source/extensions/omni.isaac.lab_tasks/config/extension.toml
  source/extensions/omni.isaac.lab_tasks/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/reach/config/franka/osc_env_cfg.py
  source/standalone/tutorials/05_controllers/run_osc.py
  tools/per_test_timeouts.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @jtigue-bdai, @pascal-roth, @hhansen-bdai

Sets default clipping mode for cameras to None (#1559)
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera/camera_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/ray_caster/ray_caster_camera_cfg.py
Owners: @kellyguo11, @pascal-roth, @Dhoeller19

Updates installation instruction for SKRL JAX (#1570)
  docs/source/overview/reinforcement-learning/rl_existing_scripts.rst
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Fixes JointAction not preserving order when using all joints (#1587)
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/actions/joint_actions.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Adds missing "not" in error message in setup_vscode.py (#1615)
  .github/PULL_REQUEST_TEMPLATE.md
  .vscode/tools/setup_vscode.py
Owners: @kellyguo11, @jsmith-bdai, @hhansen-bdai, @Mayankm96

Fixes event term for pushing root by setting velocity (#1584)
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/events.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Fixes error in Articulation where default_joint_stiffness and default_joint_damping is not correctly set if actuator is instance of ImplicitActuator (#1580)
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/articulation/articulation.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11, @jtigue-bdai

Fixes MARL workflows for recording videos during training/inferencing (#1596)
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/utils/marl.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/cart_double_pendulum/agents/skrl_ippo_cfg.yaml
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/cart_double_pendulum/agents/skrl_mappo_cfg.yaml
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/cart_double_pendulum/agents/skrl_ppo_cfg.yaml
  source/standalone/workflows/rl_games/play.py
  source/standalone/workflows/rl_games/train.py
  source/standalone/workflows/rsl_rl/play.py
  source/standalone/workflows/rsl_rl/train.py
  source/standalone/workflows/sb3/play.py
  source/standalone/workflows/sb3/train.py
  source/standalone/workflows/skrl/play.py
  source/standalone/workflows/skrl/train.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

.github/CODEOWNERS:

# Codeowners are designated by their GitHub username. They are
# the people who are responsible for reviewing and approving PRs
# that modify the files that match the pattern.
#
# Codeowners are not the same as contributors. They are not
# automatically added to the PR, but they will be requested to
# review the PR when it is created.
#
# As a general rule, the codeowners are the people who are
# most familiar with the code that the PR is modifying. If you
# are not sure who to add, ask in the issue or in the PR itself.
#
# The format of the file is as follows:
# <file pattern> <codeowners>


# App experience files
# These are the files that are used to launch the app with the correct settings and configurations
/source/apps/ @kellyguo11 @hhansen-bdai @Mayankm96 @Dhoeller19

# Core Framework
/source/extensions/omni.isaac.lab/ @Dhoeller19 @Mayankm96 @jsmith-bdai @kellyguo11
/source/extensions/omni.isaac.lab/omni/isaac/lab/actuators @Dhoeller19 @Mayankm96 @nikitardn @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/app @hhansen-bdai @kellyguo11
/source/extensions/omni.isaac.lab/omni/isaac/lab/assets @jsmith-bdai @Dhoeller19 @kellyguo11 @Mayankm96 @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/assets/deformable_object @kellyguo11 @Mayankm96 @masoudmoghani
/source/extensions/omni.isaac.lab/omni/isaac/lab/controllers @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/envs @jsmith-bdai @Dhoeller19 @kellyguo11 @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_* @jsmith-bdai @Dhoeller19 @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_* @kellyguo11
/source/extensions/omni.isaac.lab/omni/isaac/lab/managers @jsmith-bdai @Dhoeller19 @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/sensors @jsmith-bdai @Dhoeller19 @pascal-roth @Mayankm96 @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera @kellyguo11 @pascal-roth
/source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/contact_sensor @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/frame_transformer @jsmith-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/ray_caster @pascal-roth @Dhoeller19
/source/extensions/omni.isaac.lab/omni/isaac/lab/sim @Mayankm96 @jsmith-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/sim/simulation_context.py @Dhoeller19 @kellyguo11
/source/extensions/omni.isaac.lab/omni/isaac/lab/terrains @Dhoeller19 @Mayankm96 @nikitardn
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils @Mayankm96 @jsmith-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/modifiers @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/interpolation @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/noise @jtigue-bdai @kellyguo11
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/warp @Dhoeller19 @pascal-roth
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/assets.py @Dhoeller19 @kellyguo11 @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/math.py @jsmith-bdai @Dhoeller19 @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/configclass.py @Mayankm96 @Dhoeller19

# RL Environment
/source/extensions/omni.isaac.lab_tasks/ @Dhoeller19 @Mayankm96 @jsmith-bdai @kellyguo11
/source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct @Dhoeller19 @kellyguo11
/source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based @Dhoeller19 @Mayankm96 @jsmith-bdai @jtigue-bdai

# Assets
/source/extensions/omni.isaac.lab_assets/omni/isaac/lab_assets/ @Dhoeller19 @pascal-roth @jsmith-bdai

# Standalone Scripts
/source/standalone/demos/ @jsmith-bdai @jtigue-bdai @Dhoeller19 @kellyguo11 @Mayankm96
/source/standalone/environments/ @Mayankm96
/source/standalone/tools/ @jsmith-bdai @Mayankm96
/source/standalone/tutorials/ @jsmith-bdai @pascal-roth @kellyguo11 @Dhoeller19 @Mayankm96
/source/standalone/workflows/ @jsmith-bdai @Dhoeller19 @kellyguo11 @Mayankm96

# Github Actions
# This list is for people wanting to be notified every time there's a change
# related to Github Actions
/.github/ @kellyguo11 @jsmith-bdai

# Visual Studio Code
/.vscode/ @hhansen-bdai @Mayankm96

# Infrastructure (Docker, Docs, Tools)
/docker/ @hhansen-bdai @pascal-roth
/docs/ @jsmith-bdai @Dhoeller19 @kellyguo11 @Mayankm96
/tools/ @hhansen-bdai @jsmith-bdai @Dhoeller19
/isaaclab.* @hhansen-bdai @Dhoeller19 @Mayankm96 @kellyguo11
