Repository FrostyForest/IsaacLab, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kellyguo11, @hhansen-bdai, @Mayankm96, @Dhoeller19, @jsmith-bdai, @nikitardn, @jtigue-bdai, @masoudmoghani, @pascal-roth

.github/CODEOWNERS:

# Codeowners are designated by their GitHub username. They are
# the people who are responsible for reviewing and approving PRs
# that modify the files that match the pattern.
#
# Codeowners are not the same as contributors. They are not
# automatically added to the PR, but they will be requested to
# review the PR when it is created.
#
# As a general rule, the codeowners are the people who are
# most familiar with the code that the PR is modifying. If you
# are not sure who to add, ask in the issue or in the PR itself.
#
# The format of the file is as follows:
# <file pattern> <codeowners>


# App experience files
# These are the files that are used to launch the app with the correct settings and configurations
/source/apps/ @kellyguo11 @hhansen-bdai @Mayankm96 @Dhoeller19

# Core Framework
/source/extensions/omni.isaac.lab/ @Dhoeller19 @Mayankm96 @jsmith-bdai @kellyguo11
/source/extensions/omni.isaac.lab/omni/isaac/lab/actuators @Dhoeller19 @Mayankm96 @nikitardn @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/app @hhansen-bdai @kellyguo11
/source/extensions/omni.isaac.lab/omni/isaac/lab/assets @jsmith-bdai @Dhoeller19 @kellyguo11 @Mayankm96 @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/assets/deformable_object @kellyguo11 @Mayankm96 @masoudmoghani
/source/extensions/omni.isaac.lab/omni/isaac/lab/controllers @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/envs @jsmith-bdai @Dhoeller19 @kellyguo11 @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_* @jsmith-bdai @Dhoeller19 @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_* @kellyguo11
/source/extensions/omni.isaac.lab/omni/isaac/lab/managers @jsmith-bdai @Dhoeller19 @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/sensors @jsmith-bdai @Dhoeller19 @pascal-roth @Mayankm96 @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera @kellyguo11 @pascal-roth
/source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/contact_sensor @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/frame_transformer @jsmith-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/ray_caster @pascal-roth @Dhoeller19
/source/extensions/omni.isaac.lab/omni/isaac/lab/sim @Mayankm96 @jsmith-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/sim/simulation_context.py @Dhoeller19 @kellyguo11
/source/extensions/omni.isaac.lab/omni/isaac/lab/terrains @Dhoeller19 @Mayankm96 @nikitardn
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils @Mayankm96 @jsmith-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/modifiers @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/interpolation @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/noise @jtigue-bdai @kellyguo11
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/warp @Dhoeller19 @pascal-roth
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/assets.py @Dhoeller19 @kellyguo11 @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/math.py @jsmith-bdai @Dhoeller19 @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/configclass.py @Mayankm96 @Dhoeller19

# RL Environment
/source/extensions/omni.isaac.lab_tasks/ @Dhoeller19 @Mayankm96 @jsmith-bdai @kellyguo11
/source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct @Dhoeller19 @kellyguo11
/source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based @Dhoeller19 @Mayankm96 @jsmith-bdai @jtigue-bdai

# Assets
/source/extensions/omni.isaac.lab_assets/omni/isaac/lab_assets/ @Dhoeller19 @pascal-roth @jsmith-bdai

# Standalone Scripts
/source/standalone/demos/ @jsmith-bdai @jtigue-bdai @Dhoeller19 @kellyguo11 @Mayankm96
/source/standalone/environments/ @Mayankm96
/source/standalone/tools/ @jsmith-bdai @Mayankm96
/source/standalone/tutorials/ @jsmith-bdai @pascal-roth @kellyguo11 @Dhoeller19 @Mayankm96
/source/standalone/workflows/ @jsmith-bdai @Dhoeller19 @kellyguo11 @Mayankm96

# Github Actions
# This list is for people wanting to be notified every time there's a change
# related to Github Actions
/.github/ @kellyguo11 @jsmith-bdai

# Visual Studio Code
/.vscode/ @hhansen-bdai @Mayankm96

# Infrastructure (Docker, Docs, Tools)
/docker/ @hhansen-bdai @pascal-roth
/docs/ @jsmith-bdai @Dhoeller19 @kellyguo11 @Mayankm96
/tools/ @hhansen-bdai @jsmith-bdai @Dhoeller19
/isaaclab.* @hhansen-bdai @Dhoeller19 @Mayankm96 @kellyguo11

Support other gymnasium spaces in Direct workflow (#1117)
  docs/source/features/hydra.rst
  docs/source/migration/migrating_from_isaacgymenvs.rst
  docs/source/migration/migrating_from_omniisaacgymenvs.rst
  docs/source/refs/snippets/tutorial_modify_direct_rl_env.py
  docs/source/tutorials/03_envs/create_direct_rl_env.rst
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/common.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_marl_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_marl_env_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_rl_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_rl_env_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/utils/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/utils/marl.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/utils/spaces.py
  source/extensions/omni.isaac.lab/test/envs/test_spaces_utils.py
  source/extensions/omni.isaac.lab_tasks/config/extension.toml
  source/extensions/omni.isaac.lab_tasks/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/allegro_hand/allegro_hand_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/ant/ant_env.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/anymal_c/anymal_c_env.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/cart_double_pendulum/cart_double_pendulum_env.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/cartpole/cartpole_camera_env.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/cartpole/cartpole_env.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/franka_cabinet/franka_cabinet_env.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/humanoid/humanoid_env.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/quadcopter/quadcopter_env.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/shadow_hand/shadow_hand_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/shadow_hand/shadow_hand_vision_env.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/shadow_hand_over/shadow_hand_over_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/utils/wrappers/rsl_rl/vecenv_wrapper.py
  source/extensions/omni.isaac.lab_tasks/test/test_environments.py
  source/extensions/omni.isaac.lab_tasks/test/test_multi_agent_environments.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

testing direct env
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/franka_cube/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/franka_cube/agents/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/franka_cube/agents/rl_games_ppo_cfg.yaml
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/franka_cube/agents/rsl_rl_ppo_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/franka_cube/agents/skrl_ppo_cfg.yaml
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/franka_cube/franka_cube_env.py
  source/standalone/environments/random_agent.py
Owners: @Dhoeller19, @kellyguo11, @Mayankm96

Adds versioning to the docs (#1247)
  .github/workflows/docs.yaml
  CONTRIBUTORS.md
  docs/Makefile
  docs/README.md
  docs/_redirect/index.html
  docs/_templates/versioning.html
  docs/conf.py
  docs/licenses/dependencies/sphinx-multiversion-license.txt
  docs/make.bat
  docs/requirements.txt
  isaaclab.bat
  isaaclab.sh
Owners: @kellyguo11, @jsmith-bdai, @Dhoeller19, @Mayankm96, @hhansen-bdai

Fixes the unit test success criterion in the CI pipeline (#1251)
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_rl_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_rl_env_cfg.py
  source/extensions/omni.isaac.lab/test/envs/test_direct_marl_env.py
  source/extensions/omni.isaac.lab/test/envs/test_env_rendering_logic.py
  source/extensions/omni.isaac.lab/test/sim/test_simulation_context.py
  source/extensions/omni.isaac.lab_tasks/test/test_environments.py
  source/extensions/omni.isaac.lab_tasks/test/test_multi_agent_environments.py
  source/extensions/omni.isaac.lab_tasks/test/wrappers/test_rl_games_wrapper.py
  source/extensions/omni.isaac.lab_tasks/test/wrappers/test_rsl_rl_wrapper.py
  source/extensions/omni.isaac.lab_tasks/test/wrappers/test_sb3_wrapper.py
  source/extensions/omni.isaac.lab_tasks/test/wrappers/test_skrl_wrapper.py
  tools/run_all_tests.py
Owners: @kellyguo11, @Dhoeller19, @Mayankm96, @jsmith-bdai, @hhansen-bdai

Adds `IMU` sensor (#619)
  docs/source/api/lab/omni.isaac.lab.sensors.rst
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/observations.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera/camera.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera/camera_data.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera/utils.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/imu/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/imu/imu.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/imu/imu_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/imu/imu_data.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/ray_caster/ray_caster_camera.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/math.py
  source/extensions/omni.isaac.lab/test/sensors/check_imu_sensor.py
  source/extensions/omni.isaac.lab/test/sensors/test_imu.py
  source/extensions/omni.isaac.lab/test/sensors/urdfs/simple_2_link.urdf
  source/extensions/omni.isaac.lab/test/utils/test_math.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @pascal-roth, @jtigue-bdai

Fixes pytorch broadcasting issue in `EMAJointPositionToLimitsAction` (#1207)
  CONTRIBUTORS.md
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/actions/joint_actions_to_limits.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Removes `ml_archive` as a dependency of `omni.isaac.lab` extension (#1266)
  source/extensions/omni.isaac.lab/config/extension.toml
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Fixes body IDs selection when computing `feet_slide` reward for locomotion-velocity task (#1277)
  CONTRIBUTORS.md
  source/extensions/omni.isaac.lab_tasks/config/extension.toml
  source/extensions/omni.isaac.lab_tasks/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/mdp/rewards.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11, @jtigue-bdai

Fixes broken URLs in markdown files (#1272)
  CONTRIBUTING.md
  CONTRIBUTORS.md
  README.md
Owners: none

Adds a render config to the simulation and tiledCamera limitations to the docs (#1246)
  .github/workflows/docs.yaml
  docs/index.rst
  docs/source/api/lab/omni.isaac.lab.sim.rst
  docs/source/features/hydra.rst
  docs/source/features/tiled_rendering.rst
  docs/source/overview/core-concepts/index.rst
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/simulation_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/simulation_context.py
  source/extensions/omni.isaac.lab/test/sim/test_simulation_render_config.py
Owners: @kellyguo11, @jsmith-bdai, @Dhoeller19, @Mayankm96

Adds Kit command line argument support (#1293)
  isaaclab.sh
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/app/app_launcher.py
Owners: @hhansen-bdai, @Dhoeller19, @Mayankm96, @kellyguo11, @jsmith-bdai

Fixes job submitting for the cluster then an intended image is given (#1296)
  docker/cluster/cluster_interface.sh
Owners: @hhansen-bdai, @pascal-roth

Allows configclass `to_dict` operation to handle a list of configclasses (#1227)
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/dict.py
  source/extensions/omni.isaac.lab/test/utils/test_configclass.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Updates documentation on Isaac Lab installation path for Windows (#1271)
  CONTRIBUTORS.md
  docs/source/setup/installation/binaries_installation.rst
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Fixes Gymnasium spaces issues due to Hydra/OmegaConf limitations (#1306)
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/utils/spaces.py
  source/extensions/omni.isaac.lab/test/envs/test_spaces_utils.py
  source/extensions/omni.isaac.lab_tasks/config/extension.toml
  source/extensions/omni.isaac.lab_tasks/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/utils/hydra.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Adds missing typehint in reward function (#1303)
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/rewards.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Fixes `net_arch` in `sb3_ppo_cfg.yaml` for Isaac-Lift-Cube-Franka-v0 task (#1249)
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/lift/config/franka/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/lift/config/franka/agents/sb3_ppo_cfg.yaml
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @jtigue-bdai

Fixes minor bugs in RayCasterCamera and BaseEnvWindow (#1308)
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/ui/base_env_window.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/ray_caster/ray_caster_camera.py
  source/extensions/omni.isaac.lab/test/envs/test_manager_based_rl_env_ui.py
  source/extensions/omni.isaac.lab/test/sensors/test_camera.py
  source/extensions/omni.isaac.lab/test/sensors/test_contact_sensor.py
  source/extensions/omni.isaac.lab/test/sensors/test_frame_transformer.py
  source/extensions/omni.isaac.lab/test/sensors/test_imu.py
  source/extensions/omni.isaac.lab/test/sensors/test_ray_caster_camera.py
  source/extensions/omni.isaac.lab/test/sensors/test_tiled_camera.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11, @pascal-roth

Adds image extracted features observation term and cartpole examples for it (#1191)
  CONTRIBUTORS.md
  docs/source/overview/environments.rst
  pyproject.toml
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/observations.py
  source/extensions/omni.isaac.lab_tasks/config/extension.toml
  source/extensions/omni.isaac.lab_tasks/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/shadow_hand/feature_extractor.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/cartpole/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/cartpole/agents/rl_games_feature_ppo_cfg.yaml
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/cartpole/cartpole_camera_env_cfg.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @jtigue-bdai

Adds figures for manager-based and direct RL environments (#1337)
  docs/source/overview/core-concepts/Direct-basedTaskWorkflow.jpg
  docs/source/overview/core-concepts/Manager-basedTaskWorkflow.jpg
  docs/source/overview/core-concepts/task_workflows.rst
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Fixes the image feature extractor in observations (#1340)
  CONTRIBUTORS.md
  docs/licenses/dependencies/einops-license.txt
  docs/licenses/dependencies/transformers-license.txt
  docs/source/_static/refs.bib
  source/apps/isaaclab.python.headless.rendering.kit
  source/apps/isaaclab.python.rendering.kit
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/observations.py
  source/extensions/omni.isaac.lab/setup.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/cartpole/agents/rl_games_feature_ppo_cfg.yaml
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/cartpole/cartpole_camera_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/cartpole/cartpole_env_cfg.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @hhansen-bdai, @jtigue-bdai

Fixes the rigid body tests (#1345)
  source/extensions/omni.isaac.lab/test/assets/test_rigid_object.py
  tools/per_test_timeouts.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11, @hhansen-bdai

Fixes typos in comments and docs (#1216)
  docs/source/migration/migrating_from_isaacgymenvs.rst
  docs/source/migration/migrating_from_omniisaacgymenvs.rst
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/cartpole/cartpole_camera_env.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/cartpole/cartpole_env.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/inhand_manipulation/inhand_manipulation_env.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/locomotion/locomotion_env.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/shadow_hand/shadow_hand_vision_env.py
  source/standalone/tutorials/01_assets/run_deformable_object.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @pascal-roth

Ensures mesh name is compatible with USD convention in mesh converter (#1302)
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/converters/mesh_converter.py
  source/standalone/tools/convert_mesh.py
Owners: @Mayankm96, @jsmith-bdai

Adds sanity check for the term type inside the command manager (#1315)
  CONTRIBUTORS.md
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/command_manager.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/observation_manager.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Adds `ArticulationActions` type to the core framework (#1292)
  docs/source/api/lab/omni.isaac.lab.utils.rst
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/actuators/actuator_base.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/actuators/actuator_net.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/actuators/actuator_pd.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/articulation/articulation.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/types.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @nikitardn, @jtigue-bdai

Caches PhysX view's joint paths when processing fixed articulation tendons (#1347)
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/articulation/articulation.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11, @jtigue-bdai

Adds event term to randomize gains of explicit actuators (#1005)
  CONTRIBUTORS.md
  source/extensions/omni.isaac.lab/omni/isaac/lab/actuators/actuator_base.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/articulation/articulation.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/events.py
Owners: @Dhoeller19, @Mayankm96, @nikitardn, @jtigue-bdai, @jsmith-bdai, @kellyguo11

Expands observation term scaling to support list of floats (#1269)
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/manager_term_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/observation_manager.py
  source/extensions/omni.isaac.lab/test/managers/test_observation_manager.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Fixes location of images for task workflows (#1349)
  CONTRIBUTORS.md
  docs/source/_static/task-workflows/direct-based-dark.svg
  docs/source/_static/task-workflows/direct-based-light.svg
  docs/source/_static/task-workflows/manager-based-dark.svg
  docs/source/_static/task-workflows/manager-based-light.svg
  docs/source/overview/core-concepts/Direct-basedTaskWorkflow.jpg
  docs/source/overview/core-concepts/Manager-basedTaskWorkflow.jpg
  docs/source/overview/core-concepts/task_workflows.rst
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Replaces TensorDict with native dictionary (#1348)
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera/camera.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera/camera_data.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera/tiled_camera.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/ray_caster/ray_caster_camera.py
  source/extensions/omni.isaac.lab/test/sensors/test_camera.py
  source/extensions/omni.isaac.lab/test/sensors/test_ray_caster_camera.py
  source/extensions/omni.isaac.lab/test/sensors/test_tiled_camera.py
  source/standalone/tutorials/04_sensors/run_ray_caster_camera.py
  source/standalone/tutorials/04_sensors/run_usd_camera.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11, @pascal-roth

Improve omni.isaac.lab_tasks loading time (#1353)
  source/extensions/omni.isaac.lab_tasks/config/extension.toml
  source/extensions/omni.isaac.lab_tasks/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/allegro_hand/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/ant/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/anymal_c/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/cart_double_pendulum/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/cartpole/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/franka_cabinet/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/humanoid/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/quadcopter/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/shadow_hand/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/shadow_hand_over/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/ant/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/cartpole/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/humanoid/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/a1/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/anymal_b/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/anymal_c/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/anymal_d/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/cassie/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/g1/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/go1/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/go2/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/h1/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/spot/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/cabinet/config/franka/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/inhand/config/allegro_hand/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/lift/config/franka/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/reach/config/franka/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/reach/config/ur_10/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/navigation/config/anymal_c/__init__.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11, @jtigue-bdai

Fixes the default value for the fix base attribute in urdf converter config (#1367)
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/converters/asset_converter_base.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/converters/urdf_converter_cfg.py
Owners: @Mayankm96, @jsmith-bdai

Adds option to scale/translate/rotate meshes in the `mesh_converter` (#1228)
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/converters/mesh_converter.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/converters/mesh_converter_cfg.py
  source/extensions/omni.isaac.lab/test/sim/test_mesh_converter.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Replaces hardcoded module paths with `__name__` dunder (#1357)
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/allegro_hand/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/ant/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/anymal_c/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/anymal_c/anymal_c_env.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/anymal_c/anymal_c_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/cart_double_pendulum/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/cartpole/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/franka_cabinet/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/humanoid/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/inhand_manipulation/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/inhand_manipulation/inhand_manipulation_env.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/quadcopter/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/shadow_hand/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/shadow_hand_over/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/ant/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/cartpole/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/humanoid/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/a1/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/anymal_b/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/anymal_c/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/anymal_d/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/cassie/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/g1/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/go1/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/go2/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/h1/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/spot/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/cabinet/config/franka/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/inhand/config/allegro_hand/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/lift/config/franka/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/reach/config/franka/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/reach/config/ur_10/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/navigation/config/anymal_c/__init__.py
Owners: @Dhoeller19, @kellyguo11, @Mayankm96, @jsmith-bdai, @jtigue-bdai

Adds Isaac Lab Reference Architecture documentation (#1371)
  docs/index.rst
  docs/source/_static/reference-architecture/deployment-dark.svg
  docs/source/_static/reference-architecture/deployment-light.svg
  docs/source/_static/reference-architecture/isaac-lab-ra-dark.svg
  docs/source/_static/reference-architecture/isaac-lab-ra-light.svg
  docs/source/_static/reference-architecture/multi-gpu-training-dark.svg
  docs/source/_static/reference-architecture/multi-gpu-training-light.svg
  docs/source/_static/reference-architecture/single-gpu-training-dark.svg
  docs/source/_static/reference-architecture/single-gpu-training-light.svg
  docs/source/refs/reference_architecture/index.rst
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Adds a rigid body collection class (#1288)
  docs/source/_static/demos/multi_asset.jpg
  docs/source/api/lab/omni.isaac.lab.assets.rst
  docs/source/how-to/multi_asset_spawning.rst
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/rigid_object_collection/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/rigid_object_collection/rigid_object_collection.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/rigid_object_collection/rigid_object_collection_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/rigid_object_collection/rigid_object_collection_data.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/scene_entity_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/scene/interactive_scene.py
  source/extensions/omni.isaac.lab/test/assets/test_rigid_object_collection.py
  source/standalone/demos/multi_asset.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @jtigue-bdai

Clarifies Isaac Lab ecosystem and installation steps in documentation (#1338)
  docs/index.rst
  docs/source/_static/setup/ecosystem-dark.jpg
  docs/source/_static/setup/ecosystem-light.jpg
  docs/source/_static/setup/verify_install.jpg
  docs/source/overview/core-concepts/actuators.rst
  docs/source/overview/core-concepts/index.rst
  docs/source/overview/developer-guide/template.rst
  docs/source/setup/ecosystem.rst
  docs/source/setup/installation/binaries_installation.rst
  docs/source/setup/installation/index.rst
  docs/source/setup/installation/pip_installation.rst
  source/standalone/tutorials/00_sim/log_time.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @pascal-roth

Fixes indexing bug in write_joint_limits_to_sim (#1401)
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/articulation/articulation.py
  source/extensions/omni.isaac.lab/test/assets/test_articulation.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11, @jtigue-bdai

Updates code for release 1.3.0 (#1444)
  README.md
  VERSION
  docs/source/overview/reinforcement-learning/rl_existing_scripts.rst
  source/apps/isaaclab.python.headless.kit
  source/apps/isaaclab.python.headless.rendering.kit
  source/apps/isaaclab.python.kit
  source/apps/isaaclab.python.rendering.kit
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @hhansen-bdai
