Repository FrostyForest/IsaacLab, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kellyguo11, @hhansen-bdai, @Mayankm96, @Dhoeller19, @jsmith-bdai, @nikitardn, @jtigue-bdai, @masoudmoghani, @pascal-roth

.github/CODEOWNERS:

# Codeowners are designated by their GitHub username. They are
# the people who are responsible for reviewing and approving PRs
# that modify the files that match the pattern.
#
# Codeowners are not the same as contributors. They are not
# automatically added to the PR, but they will be requested to
# review the PR when it is created.
#
# As a general rule, the codeowners are the people who are
# most familiar with the code that the PR is modifying. If you
# are not sure who to add, ask in the issue or in the PR itself.
#
# The format of the file is as follows:
# <file pattern> <codeowners>


# App experience files
# These are the files that are used to launch the app with the correct settings and configurations
/source/apps/ @kellyguo11 @hhansen-bdai @Mayankm96 @Dhoeller19

# Core Framework
/source/extensions/omni.isaac.lab/ @Dhoeller19 @Mayankm96 @jsmith-bdai @kellyguo11
/source/extensions/omni.isaac.lab/omni/isaac/lab/actuators @Dhoeller19 @Mayankm96 @nikitardn @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/app @hhansen-bdai @kellyguo11
/source/extensions/omni.isaac.lab/omni/isaac/lab/assets @jsmith-bdai @Dhoeller19 @kellyguo11 @Mayankm96 @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/assets/deformable_object @kellyguo11 @Mayankm96 @masoudmoghani
/source/extensions/omni.isaac.lab/omni/isaac/lab/controllers @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/envs @jsmith-bdai @Dhoeller19 @kellyguo11 @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_* @jsmith-bdai @Dhoeller19 @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_* @kellyguo11
/source/extensions/omni.isaac.lab/omni/isaac/lab/managers @jsmith-bdai @Dhoeller19 @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/sensors @jsmith-bdai @Dhoeller19 @pascal-roth @Mayankm96 @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera @kellyguo11 @pascal-roth
/source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/contact_sensor @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/frame_transformer @jsmith-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/ray_caster @pascal-roth @Dhoeller19
/source/extensions/omni.isaac.lab/omni/isaac/lab/sim @Mayankm96 @jsmith-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/sim/simulation_context.py @Dhoeller19 @kellyguo11
/source/extensions/omni.isaac.lab/omni/isaac/lab/terrains @Dhoeller19 @Mayankm96 @nikitardn
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils @Mayankm96 @jsmith-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/modifiers @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/interpolation @jtigue-bdai
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/noise @jtigue-bdai @kellyguo11
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/warp @Dhoeller19 @pascal-roth
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/assets.py @Dhoeller19 @kellyguo11 @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/math.py @jsmith-bdai @Dhoeller19 @Mayankm96
/source/extensions/omni.isaac.lab/omni/isaac/lab/utils/configclass.py @Mayankm96 @Dhoeller19

# RL Environment
/source/extensions/omni.isaac.lab_tasks/ @Dhoeller19 @Mayankm96 @jsmith-bdai @kellyguo11
/source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct @Dhoeller19 @kellyguo11
/source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based @Dhoeller19 @Mayankm96 @jsmith-bdai @jtigue-bdai

# Assets
/source/extensions/omni.isaac.lab_assets/omni/isaac/lab_assets/ @Dhoeller19 @pascal-roth @jsmith-bdai

# Standalone Scripts
/source/standalone/demos/ @jsmith-bdai @jtigue-bdai @Dhoeller19 @kellyguo11 @Mayankm96
/source/standalone/environments/ @Mayankm96
/source/standalone/tools/ @jsmith-bdai @Mayankm96
/source/standalone/tutorials/ @jsmith-bdai @pascal-roth @kellyguo11 @Dhoeller19 @Mayankm96
/source/standalone/workflows/ @jsmith-bdai @Dhoeller19 @kellyguo11 @Mayankm96

# Github Actions
# This list is for people wanting to be notified every time there's a change
# related to Github Actions
/.github/ @kellyguo11 @jsmith-bdai

# Visual Studio Code
/.vscode/ @hhansen-bdai @Mayankm96

# Infrastructure (Docker, Docs, Tools)
/docker/ @hhansen-bdai @pascal-roth
/docs/ @jsmith-bdai @Dhoeller19 @kellyguo11 @Mayankm96
/tools/ @hhansen-bdai @jsmith-bdai @Dhoeller19
/isaaclab.* @hhansen-bdai @Dhoeller19 @Mayankm96 @kellyguo11

Adds SB-3 instruction into hydra documentation (#897)
  docs/source/features/hydra.rst
  docs/source/setup/installation/binaries_installation.rst
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Fixes initialization of normal velocity command generator (#898)
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/commands/velocity_command.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Adds function to define camera configs through intrinsic matrix (#617)
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera/camera.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/ray_caster/patterns/patterns.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/ray_caster/patterns/patterns_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/ray_caster/ray_caster_camera.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/spawners/sensors/sensors.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/spawners/sensors/sensors_cfg.py
  source/extensions/omni.isaac.lab/test/sensors/test_camera.py
  source/extensions/omni.isaac.lab/test/sensors/test_ray_caster_camera.py
  source/extensions/omni.isaac.lab/test/sensors/test_tiled_camera.py
  source/extensions/omni.isaac.lab/test/sim/test_spawn_sensors.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11, @pascal-roth

Defaults the gym video recorder fps to match episode decimation (#894)
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_rl_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_rl_env.py
Owners: @kellyguo11, @jsmith-bdai, @Dhoeller19, @Mayankm96

Fixes support for `classmethod` when defining a configclass (#901)
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/configclass.py
  source/extensions/omni.isaac.lab/test/sensors/test_camera.py
  source/extensions/omni.isaac.lab/test/sensors/test_ray_caster_camera.py
  source/extensions/omni.isaac.lab/test/sensors/test_tiled_camera.py
  source/extensions/omni.isaac.lab/test/utils/test_configclass.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Removes deprecated scipy rotation imports (#565)
  source/extensions/omni.isaac.lab/omni/isaac/lab/devices/gamepad/se3_gamepad.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/devices/keyboard/se3_keyboard.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/devices/spacemouse/se3_spacemouse.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

test
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/assets.py
  test_code/main.py
  test_code/manually_spawn_assets.py
  test_code/test2.py
  test_code/using_interative_scene.py
Owners: @Dhoeller19, @kellyguo11, @Mayankm96

Fixes comment in run_articulation.py (#876)
  source/standalone/tutorials/01_assets/run_articulation.py
Owners: @jsmith-bdai, @pascal-roth, @kellyguo11, @Dhoeller19, @Mayankm96

Updates camera docs with world units and introduces new test for intrinsics (#886)
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera/camera.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/ray_caster/patterns/patterns_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/ray_caster/ray_caster_camera.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/ray_caster/ray_caster_camera_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/spawners/sensors/sensors_cfg.py
  source/extensions/omni.isaac.lab/test/sensors/test_ray_caster_camera.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11, @pascal-roth

Improves behavior for Franka Cabinet environment (#909)
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/franka_cabinet/agents/rsl_rl_ppo_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/franka_cabinet/franka_cabinet_env.py
Owners: @Dhoeller19, @kellyguo11

add_sensor
  test_code/adding_sensor.py
  test_code/carter.py
  test_code/manually_spawn_assets.py
  test_code/using_interative_scene.py
Owners: none

Fixes the event manager's apply method (#936)
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/event_manager.py
Owners: @jsmith-bdai, @Dhoeller19, @Mayankm96

Adds `distance_to_camera` datatype in `TiledCamera` (#889)
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera/tiled_camera.py
  source/extensions/omni.isaac.lab/test/sensors/test_tiled_camera.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/cartpole/cartpole_camera_env.py
  source/standalone/demos/cameras.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11, @pascal-roth, @jtigue-bdai

Adapts A and D button bindings in the keyboard device (#910)
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/devices/keyboard/se3_keyboard.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Fixes folder typo in the `create_scene.rst` tutorial (#945)
  source/standalone/tutorials/02_scene/create_scene.py
Owners: @jsmith-bdai, @pascal-roth, @kellyguo11, @Dhoeller19, @Mayankm96

Adds support for property attributes inside configclass (#953)
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/configclass.py
  source/extensions/omni.isaac.lab/test/utils/test_configclass.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Expands on articulation test for multiple instances and devices (#872)
  source/extensions/omni.isaac.lab/test/assets/test_articulation.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Uses `torch.einsum` for quat_rotate and quat_rotate_inverse operations (#900)
  CONTRIBUTORS.md
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/math.py
  source/extensions/omni.isaac.lab/test/utils/test_math.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Adds setting of environment seed at initialization (#940)
  docs/index.rst
  docs/source/features/environments.rst
  docs/source/features/reproducibility.rst
  docs/source/refs/issues.rst
  docs/source/tutorials/01_assets/run_articulation.rst
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_rl_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_rl_env_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_env_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/terrains/terrain_generator.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/terrains/terrain_generator_cfg.py
  source/extensions/omni.isaac.lab/test/terrains/test_terrain_generator.py
  source/extensions/omni.isaac.lab_tasks/test/test_environment_determinism.py
  source/extensions/omni.isaac.lab_tasks/test/test_environments.py
  source/standalone/workflows/rl_games/train.py
  source/standalone/workflows/rsl_rl/cli_args.py
  source/standalone/workflows/rsl_rl/play.py
  source/standalone/workflows/rsl_rl/train.py
  source/standalone/workflows/sb3/train.py
  source/standalone/workflows/skrl/train.py
  tools/per_test_timeouts.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @nikitardn, @hhansen-bdai

Simplifies the return type for `parse_env_cfg` method (#965)
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/utils/parse_cfg.py
  source/extensions/omni.isaac.lab_tasks/test/test_environments.py
  source/extensions/omni.isaac.lab_tasks/test/test_record_video.py
  source/extensions/omni.isaac.lab_tasks/test/wrappers/test_rl_games_wrapper.py
  source/extensions/omni.isaac.lab_tasks/test/wrappers/test_rsl_rl_wrapper.py
  source/extensions/omni.isaac.lab_tasks/test/wrappers/test_sb3_wrapper.py
  source/extensions/omni.isaac.lab_tasks/test/wrappers/test_skrl_wrapper.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Sets native livestream extensions to Isaac Sim 4.1-4.0 defaults (#954)
  source/extensions/omni.isaac.lab/omni/isaac/lab/app/app_launcher.py
Owners: @hhansen-bdai, @kellyguo11

Adds support for MJCF converter (#957)
  CONTRIBUTORS.md
  docs/source/_static/tutorials/tutorial_convert_mesh.jpg
  docs/source/_static/tutorials/tutorial_convert_mjcf.jpg
  docs/source/_static/tutorials/tutorial_convert_urdf.jpg
  docs/source/how-to/import_new_asset.rst
  source/apps/isaaclab.python.kit
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/converters/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/converters/mjcf_converter.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/converters/mjcf_converter_cfg.py
  source/extensions/omni.isaac.lab/test/sim/test_mjcf_converter.py
  source/standalone/tools/convert_mjcf.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @hhansen-bdai

Adds windows configuration to VS code tasks (#963)
  .vscode/tasks.json
  CONTRIBUTORS.md
Owners: @hhansen-bdai, @Mayankm96

Simplify the if-elses inside the event manager apply method (#948)
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/event_manager.py
Owners: @jsmith-bdai, @Dhoeller19, @Mayankm96

Fixes venv and conda pip installation on windows (#970)
  isaaclab.bat
Owners: @hhansen-bdai, @Dhoeller19, @Mayankm96, @kellyguo11

Fixes `Sb3VecEnvWrapper` to clear buffer on reset (#974)
  CONTRIBUTORS.md
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/utils/wrappers/sb3.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

manager_base_env
  test_code/manager_base_env.py
  test_code/training.py
Owners: none

Fixes typo in the Environment ID of the unitree robots in the `environments.rst` file (#986)
  docs/source/features/environments.rst
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

task_space_manipulate
  install/.colcon_install_layout
  install/COLCON_IGNORE
  log/COLCON_IGNORE
  log/latest
  log/latest_build
  test_code/random_agent.py
  test_code/robot_arm/franka_env_cfg.py
  test_code/robot_arm_env.py
  test_code/task_space_controller.py
  test_code/training.py
Owners: none

Adds flag to recompute inertia when randomizing the mass of a rigid body (#989)
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/articulation/articulation.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/articulation/articulation_data.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/rigid_object/rigid_object.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/rigid_object/rigid_object_data.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/events.py
  source/extensions/omni.isaac.lab/test/assets/test_articulation.py
  source/extensions/omni.isaac.lab/test/assets/test_rigid_object.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @jtigue-bdai

Switches to events for Anymal-C direct environment (#990)
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/anymal_c/anymal_c_env.py
Owners: @Dhoeller19, @kellyguo11

Adds visualization markers customization for the MDP command terms (#841)
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/commands/commands_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/commands/pose_2d_command.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/commands/pose_command.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/commands/velocity_command.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/anymal_c/anymal_c_env.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/inhand/mdp/commands/commands_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/inhand/mdp/commands/orientation_command.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11, @jtigue-bdai

Adds test for camera to check that different image sizes work (#964)
  source/extensions/omni.isaac.lab/test/sensors/test_camera.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Adds benchmarking scripts for RL and Non-RL for OSMO (#88)
  source/standalone/workflows/benchmarks/benchmark_non_rl.py
  source/standalone/workflows/benchmarks/benchmark_rlgames.py
  source/standalone/workflows/benchmarks/benchmark_rsl_rl.py
  source/standalone/workflows/benchmarks/utils.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Restructures documentation and fixes class types (#98)
  docs/index.rst
  docs/source/features/environments.rst
  docs/source/how-to/wrap_rl_env.rst
  docs/source/overview/developer-guide/extensions.rst
  docs/source/overview/developer-guide/index.rst
  docs/source/overview/developer-guide/repo_structure.rst
  docs/source/overview/developer-guide/template.rst
  docs/source/overview/developer-guide/vs_code.rst
  docs/source/overview/environment-workflows/basic_environments.rst
  docs/source/overview/environment-workflows/index.rst
  docs/source/overview/environment-workflows/task_workflows.rst
  docs/source/overview/reinforcement-learning/index.rst
  docs/source/overview/reinforcement-learning/performance_benchmarks.rst
  docs/source/overview/reinforcement-learning/rl_existing_scripts.rst
  docs/source/overview/reinforcement-learning/rl_frameworks.rst
  docs/source/overview/sample_scripts.rst
  docs/source/overview/teleop_imitation.rst
  docs/source/setup/sample.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/simulation_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/utils/wrappers/rl_games.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/utils/wrappers/rsl_rl/vecenv_wrapper.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/utils/wrappers/sb3.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/utils/wrappers/skrl.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Updates asset and docker paths to Isaac Sim 4.2 (#129)
  .github/workflows/postmerge-ci-buildspec.yml
  .github/workflows/premerge-ci-buildspec.yml
  docs/source/features/hydra.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/app/app_launcher.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera/tiled_camera.py
  source/extensions/omni.isaac.lab/test/sensors/test_tiled_camera.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/lift/config/franka/ik_abs_env_cfg.py
Owners: @kellyguo11, @jsmith-bdai, @Dhoeller19, @Mayankm96, @hhansen-bdai, @pascal-roth, @jtigue-bdai

Updates tiled rendering API with full RTX rendering and additional annotators (#97)
  docs/source/features/tiled_rendering.rst
  source/apps/isaaclab.python.headless.kit
  source/apps/isaaclab.python.headless.rendering.kit
  source/apps/isaaclab.python.kit
  source/apps/isaaclab.python.rendering.kit
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera/camera.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera/tiled_camera.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera/tiled_camera_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/ray_caster/ray_caster_camera.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/warp/kernels.py
  source/extensions/omni.isaac.lab/test/sensors/test_camera.py
  source/extensions/omni.isaac.lab/test/sensors/test_ray_caster_camera.py
  source/extensions/omni.isaac.lab/test/sensors/test_tiled_camera.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/cartpole/cartpole_camera_env.py
  source/standalone/demos/cameras.py
  tools/per_test_timeouts.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @hhansen-bdai, @pascal-roth, @jtigue-bdai

Improves policy behavior of Franka Cabinet and Allegro (#111)
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera/tiled_camera.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/allegro_hand/agents/rl_games_ppo_cfg.yaml
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/allegro_hand/agents/rsl_rl_ppo_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/allegro_hand/allegro_hand_env_cfg.py
Owners: @kellyguo11, @pascal-roth, @Dhoeller19

Add the direct workflow shadow hand over multi-agent environment (#105)
  docs/source/_static/tasks/manipulation/shadow_hand_over.jpg
  docs/source/features/environments.rst
  source/extensions/omni.isaac.lab_tasks/config/extension.toml
  source/extensions/omni.isaac.lab_tasks/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/shadow_hand_over/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/shadow_hand_over/agents/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/shadow_hand_over/agents/rl_games_ppo_cfg.yaml
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/shadow_hand_over/agents/rsl_rl_ppo_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/shadow_hand_over/agents/skrl_ippo_cfg.yaml
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/shadow_hand_over/agents/skrl_mappo_cfg.yaml
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/shadow_hand_over/agents/skrl_ppo_cfg.yaml
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/shadow_hand_over/shadow_hand_over_env.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/shadow_hand_over/shadow_hand_over_env_cfg.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

Adds secrets in doc building action (#122)
  .github/workflows/docs.yaml
Owners: @kellyguo11, @jsmith-bdai
